  <body>
    <header class="page-header">
      <div class="header-grid-outer">
        <div class="header-grid-inner"><a href="/" class="logo-wrapper"><img src="https://cornell.app.box.com/representation/file_version_13904801901/image_2048_jpg/1.jpg" class="logo"></a>
          <button id="nav-toggle-button" class="navigation-list-toggle-button"></button>
          <nav id="nav-toggle-menu" class="navigation-list">
            <ul class="nav-list">
<!--               <li><a href="/about">About</a></li>
              <li><a href="/blog">Blog</a></li> -->
              <li><a href="/">Home</a></li>
              <li><a href="/shop">Shop</a></li>
              <li class="social fb"><a href="https://www.facebook.com/trailworthy" target="_blank" class="icon-social icon-facebook-dark">Facebook</a></li>
              <li class="social tw"><a href="http://www.twitter.com/WorthyJerky" target="_blank" class="icon-social icon-twitter-dark">Twitter</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div id="toolsVideoShield" class="video-backdrop">
      <div id="toolsVideo" class="video-popup-container"></div>
    </div>
    <section class="hero beginning">
      <div class="section-inner">
        <div class="intro">
          <header class="hero-header">
            <div class="title">
              <h1><strong class="name">Worthy Jerky</strong><span class="tagline">Work&nbsp;hard Refuel&nbsp;properly Eat&nbsp;Jerky</span></h1>
            </div>
            <a href="/shop" class="action">Buy now</a>
<!--             <a href="/shop" class="action-button">Buy now</a> -->
            <a style="cursor:pointer;"id="videoPopup" target="_blank" data-player-url="https://player.vimeo.com/video/123362902" class="video-anchor">Watch video</a>
          </header>
        </div>
      </div>
    </section>
    <section class="expression-section section">
      <div class="section-inner">
        <div class="wrapper">
          <div class="large copy">
            <h2 class="title">Freedom of expression.</h2>
            <h3 class="subtitle">Great tools inspire great ideas. Pencil&nbsp;by&nbsp;FiftyThree is the most natural and expressive way to create on iPad. Advanced technology meets beautiful design to keep you in the flow, without needing to switch tools. With Surface Pressure, Erase, Blend, and adaptive Palm Rejection, Pencil puts creative possibility in&nbsp;your&nbsp;hands.</h3>
          </div>
        </div>
      </div>
    </section>
    </section>
    <section class="surface-pressure-section feature-section section">
      <div class="section-inner">
        <div class="wrapper">
          <div class="copy"><i class="feature-icon"></i>
            <h2 class="title">Surface Pressure</h2>
            <h3 class="subtitle">Expressive from every angle. Pencil’s unique tip is shaped to create lines of all sizes without any settings. Use the point for fine details and the angled edge for&nbsp;broad&nbsp;strokes.</h3>
          </div>
        </div>
      </div>
    </section>
    <section class="erase-section feature-section section">
      <div class="section-inner">
        <div class="wrapper">
          <div class="copy"><i class="feature-icon"></i>
            <h2 class="title">Erase</h2>
            <h3 class="subtitle">Be bold and make mistakes. Pencil’s unique built-in eraser lets you precisely carve away to get at what’s essential. No need to switch tools, just flip Pencil&nbsp;to&nbsp;erase.</h3>
          </div>
        </div>
      </div>
    </section>
    <section class="blend-section feature-section section">
      <div class="section-inner">
        <div class="wrapper">
          <div class="copy"><i class="feature-icon"></i>
            <h2 class="title">Blend</h2>
            <h3 class="subtitle">Get hands-on with your ideas. Pencil takes care of the lines so you can use your finger to smooth rough edges and blend colors directly on the page. Create beautiful color transitions for charts, skies,&nbsp;and&nbsp;shadows.</h3>
          </div>
        </div>
      </div>
    </section>
    <section class="palm-rejection-section feature-section section">
      <div class="section-inner">
        <div class="wrapper">
          <div class="copy"><i class="feature-icon"></i>
            <h2 class="title">Palm Rejection</h2>
            <h3 class="subtitle">Our adaptive palm rejection instantly knows whether it’s your hand or Pencil touching the page. Rest your hand on the screen, write from any angle. No calibration or setup. You’ll forget you’re creating on&nbsp;a&nbsp;tablet.</h3>
          </div>
        </div>
      </div>
    </section>
    <section class="craft-section section">
      <div class="section-inner">
        <div class="wrapper">
          <div class="large light copy">
            <h1 class="title">Crafted for creativity.</h1>
            <h2 class="subtitle">From the sustainably harvested wood body to the elegant technological core, every detail in Pencil combines beautiful engineering and&nbsp;meticulous&nbsp;craft.</h2>
          </div>
          <ol class="pencil-crafted">
            <li data-anim="0|0|180" style="top: 0px;" class="light pencil-eraser">
              <h3 class="part-name"><span>Eraser tip</span></h3>
              <p class="part-desc"><span>A unique sensor lets you flip Pencil to erase when connected to Paper, without switching tools.</span></p>
            </li>
            <li data-anim="-155|135|320" style="top: -155px;" class="light pencil-board">
              <h3 class="part-name"><span>Bluetooth Smart</span></h3>
              <p class="part-desc"><span>Pencil’s certified Bluetooth Smart wireless delivers a fast, stable connection with industry-leading power conservation.</span></p>
            </li>
            <li data-anim="-488|134|650" style="top: -488px;" class="light pencil-body">
              <h3 class="part-name"><span>Seamless body</span></h3>
              <div class="part-desc">
                <p><span>Each Pencil is milled from a single, solid piece of material. Graphite brushed aluminum model shown.</span></p>
                <p class="also"><span>Also available in Walnut&nbsp;and&nbsp;Gold.</span></p>
              </div>
            </li>
            <li data-anim="-428|1120|1310" style="top: -428px;" class="light pencil-battery">
              <h3 class="part-name"><span>Lasting power</span></h3>
              <p class="part-desc"><span>Pencil’s battery charges off any USB port in under 90 minutes and delivers power for up to a month of normal use on a single charge.</span></p>
            </li>
            <li data-anim="-532|1120|1620" style="top: -532px;" class="light pencil-sensor">
              <h3 class="part-name"><span>Accurate sensing</span></h3>
              <p class="part-desc"><span>Pencil’s tip and eraser sensors are plated in 14kt gold for lightning fast, accurate reaction.</span></p>
            </li>
            <li data-anim="-678|1120|1830" style="top: -678px;" class="light pencil-tip">
              <h3 class="part-name"><span>Tapered tip</span></h3>
              <p class="part-desc"><span>Pencil’s durable tip has been carefully friction-tuned to feel great on a screen. Use both the tip and edge to draw. Extra tip and eraser included.</span></p>
            </li>
          </ol>
        </div>
      </div>
    </section>
    <div class="material-container">
      <section class="first-type material-section photo-section section">
        <div class="section-inner">
          <div class="wrapper">
            <div class="light copy">
              <h3 class="title">Walnut</h3>
              <p class="subtitle">An artisanally crafted tool. The body is milled from a solid piece of premium-grade walnut that has met rigorous standards for sustainability. Each Pencil has a unique character that will subtly change with years&nbsp;of&nbsp;use.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="graphite-material-section material-section photo-section section">
        <div class="section-inner">
          <div class="wrapper">
            <div class="light copy">
              <h3 class="title">Aluminum</h3>
              <p class="subtitle">The seamless brushed aluminum body has been extruded to reduce manufacturing waste. Minimal, beautiful, and with just a little more heft than the Walnut model.</p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="steps-section section">
      <div class="section-inner">
        <div class="section-wrapper">
          <div class="large copy section-copy">
            <h1 class="title">Simply works.</h1>
            <p class="subtitle">The best tools don’t require a lot of fuss &mdash; they just work. With Pencil, we’ve radically simplified things like charging and wireless connection so you can spend less time in menus and more&nbsp;time&nbsp;creating.</p>
          </div>
        </div>
        <ol class="step-list">
          <li class="step-one step subsection-copy">
            <h3 class="subsection-title">Power it up</h3>
            <p class="subsection-description">Under normal use, you won’t need to recharge Pencil for about a month. The battery can be slid out and recharged on any standard USB port in under&nbsp;90&nbsp;minutes.</p>
          </li>
          <li class="step-two step subsection-copy">
            <h3 class="subsection-title">Kiss to Pair™</h3>
            <p class="subsection-description">Bluetooth connection as it should be: no settings menus, no confusing pairing rituals. Just press Pencil’s tip to the screen. Clear, stable, simple... easy as falling&nbsp;in&nbsp;love.</p>
          </li>
          <li class="step-three step subsection-copy">
            <h3 class="subsection-title">Plays nicely</h3>
            <p class="subsection-description">Palm Rejection, Erase, and Blend work only on Paper and other supported applications, but Pencil also works well as a non-connected stylus in any other app and on any touchscreen&nbsp;device.</p>
          </li>
        </ol>
      </div>
    </section>
    <section class="order-section section">
      <div class="section-inner">
        <div class="section-wrapper">
          <div class="call-to-action">
            <a href="/shop" class="description">Discover new flavors that have just been released!</a>
          </div>
          <div class="order">
            <div class="subtitle">Starting at</div>
            <h4 class="price">
              <span class="price-symbol">$</span><span class="price-number">5<span class="price-decimal"></span><span class="price-cents">00</span></span><span class="price-currency">USD</span>
            </h4>
            <a href="/shop" class="action">Buy now</a>
          </div>
          <div class="product"><img src="http://placehold.it/150x150" class="pencils"></div>
        </div>
      </div>
    </section>
    <footer class="page-footer">
      <div class="footer-container">
        <div class="footer-inner">
          <div class="logo-wrapper"><a href="/"><img src="https://cornell.app.box.com/representation/file_version_13904801901/image_2048_jpg/1.jpg" class="logo"></a></div>
          <nav>
            <div class="links-wrapper">
              <ul class="links products">
                <li><a href="/shop">Shop</a></li>
              </ul>
              <ul class="links blogs">
                <li><a href="http://news.fiftythree.com">Blogs</a></li>
              </ul>
              <ul class="links contact">
                <li><a href="http://shop.fiftythree.com">Contact</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
              <ul class="links about-us">
                <li><a href="/about">About</a></li>
                <li><a href="http://press.fiftythree.com">Press</a></li>
              </ul>
            </div>
          </nav>
          <div class="copyright-info"><span class="made-in">Made in Ithaca</span><span class="copyright">© 2015 WorthyJerky, Inc.</span>
          </div>
        </div>
      </div>
    </footer>
  </body>