  <body>
    <header class="page-header">
      <div class="header-grid-outer">
        <div class="header-grid-inner"><a href="/" class="logo-wrapper"><img src="https://cornell.app.box.com/representation/file_version_13904801901/image_2048_jpg/1.jpg" class="logo"></a>
          <button id="nav-toggle-button" class="navigation-list-toggle-button"></button>
          <nav id="nav-toggle-menu" class="navigation-list">
            <ul class="nav-list">
<!--               <li><a href="/about">About</a></li>
              <li><a href="/blog">Blog</a></li> -->
              <li><a href="/">Home</a></li>
              <li><a href="/shop">Shop</a></li>
              <li class="social fb"><a href="https://www.facebook.com/trailworthy" target="_blank" class="icon-social icon-facebook-dark">Facebook</a></li>
              <li class="social tw"><a href="http://www.twitter.com/WorthyJerky" target="_blank" class="icon-social icon-twitter-dark">Twitter</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div id="toolsVideoShield" class="video-backdrop">
      <div id="toolsVideo" class="video-popup-container"></div>
    </div>
    <section class="hero beginning">
      <div class="section-inner">
        <div class="intro">
          <header class="hero-header">
            <div class="title">
              <h1><strong class="name">Worthy Jerky</strong><span class="tagline">Work&nbsp;hard Refuel&nbsp;properly Eat&nbsp;Jerky</span></h1>
            </div>
            <a href="/shop" class="action">Buy now</a>
<!--             <a href="/shop" class="action-button">Buy now</a> -->
            <a style="cursor:pointer;"id="videoPopup" target="_blank" data-player-url="https://player.vimeo.com/video/123362902" class="video-anchor">Watch video</a>
          </header>
        </div>
      </div>
    </section>
    <section class="expression-section section">
      <div class="section-inner">
        <div class="wrapper">
          <div class="large copy">
            <h2 class="title">Value of Quality</h2>
            <h3 class="subtitle"><strong>Worthy Jerky began with a simple question:</strong></h3>
            <h3 class="subitlte">"What if we could strip away every unncessary ingredient from conventional jerky products and deliver a superior experience?"</h3>
          </div>
        </div>
      </div>
    </section>
    </section>
    <section class="surface-pressure-section feature-section section">
      <div class="section-inner">
        <div class="wrapper">
          <div class="copy"><i class="feature-icon"></i>
            <h2 class="title">Incredible Nutrition</h2>
            <h3 class="subtitle">We've packed a whopping 11 grams of protein and just 2 grams of fat into less than 100 calories.</h3>
          </div>
        </div>
      </div>
    </section>
    <section class="erase-section feature-section section">
      <div class="section-inner">
        <div class="wrapper">
          <div class="copy"><i class="feature-icon"></i>
            <h2 class="title">Quality Ingredients</h2>
            <h3 class="subtitle">By relying only on carefull selected cutes of steak, fruits, vegatables, and spices, we've crafted a wholesome food perfect for re-fueling your body.</h3>
          </div>
        </div>
      </div>
    </section>
    <section class="blend-section feature-section section">
      <div class="section-inner">
        <div class="wrapper">
          <div class="copy"><i class="feature-icon"></i>
            <h2 class="title">Truly Portable</h2>
            <h3 class="subtitle">Stow it in your backpack, your purse, or even your gym bag and enjoy whenever without thinking twice.</h3>
          </div>
        </div>
      </div>
    </section>
<!--     <section class="palm-rejection-section feature-section section">
      <div class="section-inner">
        <div class="wrapper">
          <div class="copy"><i class="feature-icon"></i>
            <h2 class="title">Palm Rejection</h2>
            <h3 class="subtitle">Our adaptive palm rejection instantly knows whether it’s your hand or Pencil touching the page. Rest your hand on the screen, write from any angle. No calibration or setup. You’ll forget you’re creating on&nbsp;a&nbsp;tablet.</h3>
          </div>
        </div>
      </div>
    </section> -->
    <section class="craft-section section">
      <div class="section-inner">
        <div class="wrapper">
          <div class="large light copy">
            <h1 class="title">Jerky Reinvented</h1>
            <h2 class="subtitle">We’ve reinvented jerky from the ground up by relying only on carefully selected cuts of steak, fruits, vegetables, and spices.</h2>
          </div>
          <ol class="pencil-crafted">
            <li data-anim="0|0|180" style="top: 0px;" class="light pencil-eraser">
              <h3 class="part-name"><span>Top and Bottom Round Steaks</span></h3>
              <p class="part-desc"><span>Something good</span></p>
            </li>
            <li data-anim="-155|135|320" style="top: -155px;" class="light pencil-board">
              <h3 class="part-name"><span>Vipe Ripened Tomatoes</span></h3>
              <p class="part-desc"><span>Something good</span></p>
            </li>
            <li data-anim="-488|134|650" style="top: -488px;" class="light pencil-body">
              <h3 class="part-name"><span>Onion</span></h3>
              <div class="part-desc">
                <p class= "part-desc"><span>Something good</span></p>
              </div>
            </li>
            <li data-anim="-428|1120|1310" style="top: -428px;" class="light pencil-battery">
              <h3 class="part-name"><span>Lasting power</span></h3>
              <p class="part-desc"><span>Pencil’s battery charges off any USB port in under 90 minutes and delivers power for up to a month of normal use on a single charge.</span></p>
            </li>
            <li data-anim="-532|1120|1620" style="top: -532px;" class="light pencil-sensor">
              <h3 class="part-name"><span>Accurate sensing</span></h3>
              <p class="part-desc"><span>Pencil’s tip and eraser sensors are plated in 14kt gold for lightning fast, accurate reaction.</span></p>
            </li>
            <li data-anim="-678|1120|1830" style="top: -678px;" class="light pencil-tip">
              <h3 class="part-name"><span>Tapered tip</span></h3>
              <p class="part-desc"><span>Pencil’s durable tip has been carefully friction-tuned to feel great on a screen. Use both the tip and edge to draw. Extra tip and eraser included.</span></p>
            </li>
          </ol>
        </div>
      </div>
    </section>
    <div class="material-container">
      <section class="first-type material-section photo-section section">
        <div class="section-inner">
          <div class="wrapper">
            <div class="light copy">
              <h3 class="title">Walnut</h3>
              <p class="subtitle">An artisanally crafted tool. The body is milled from a solid piece of premium-grade walnut that has met rigorous standards for sustainability. Each Pencil has a unique character that will subtly change with years&nbsp;of&nbsp;use.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="graphite-material-section material-section photo-section section">
        <div class="section-inner">
          <div class="wrapper">
            <div class="light copy">
              <h3 class="title">Aluminum</h3>
              <p class="subtitle">The seamless brushed aluminum body has been extruded to reduce manufacturing waste. Minimal, beautiful, and with just a little more heft than the Walnut model.</p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="steps-section section">
      <div class="section-inner">
        <div class="section-wrapper">
          <div class="large copy section-copy">
            <h1 class="title">Simply works.</h1>
            <p class="subtitle">The best tools don’t require a lot of fuss &mdash; they just work. With Pencil, we’ve radically simplified things like charging and wireless connection so you can spend less time in menus and more&nbsp;time&nbsp;creating.</p>
          </div>
        </div>
        <ol class="step-list">
          <li class="step-one step subsection-copy">
            <h3 class="subsection-title">Power it up</h3>
            <p class="subsection-description">Under normal use, you won’t need to recharge Pencil for about a month. The battery can be slid out and recharged on any standard USB port in under&nbsp;90&nbsp;minutes.</p>
          </li>
          <li class="step-two step subsection-copy">
            <h3 class="subsection-title">Kiss to Pair™</h3>
            <p class="subsection-description">Bluetooth connection as it should be: no settings menus, no confusing pairing rituals. Just press Pencil’s tip to the screen. Clear, stable, simple... easy as falling&nbsp;in&nbsp;love.</p>
          </li>
          <li class="step-three step subsection-copy">
            <h3 class="subsection-title">Plays nicely</h3>
            <p class="subsection-description">Palm Rejection, Erase, and Blend work only on Paper and other supported applications, but Pencil also works well as a non-connected stylus in any other app and on any touchscreen&nbsp;device.</p>
          </li>
        </ol>
      </div>
    </section>
    <section class="order-section section">
      <div class="section-inner">
        <div class="section-wrapper">
          <div class="call-to-action">
            <a href="/shop" class="description">Discover new flavors that have just been released!</a>
          </div>
          <div class="order">
            <div class="subtitle">Starting at</div>
            <h4 class="price">
              <span class="price-symbol">$</span><span class="price-number">5<span class="price-decimal"></span><span class="price-cents">00</span></span><span class="price-currency">USD</span>
            </h4>
            <a href="/shop" class="action">Buy now</a>
          </div>
          <div class="product"><img src="https://mail.google.com/mail/u/1/?ui=2&ik=85887f679a&view=fimg&th=14c7b5989a943864&attid=0.2&disp=inline&realattid=ii_14c7b5787383956d&safe=1&attbid=ANGjdJ9zwOlxUXVIPAYa0sxhsbgPl8j6apWJ7ZLoigyVc9JsSG29jn9c2tUMXfQaIryccGEfD1fNrdbQI6LP66gbHvqgpBup780Fbp7YYQXwyNHrAvPkC0VkgPIXQX8&ats=1428000259576&rm=14c7b5989a943864&zw&sz=w1412-h685" class="pencils"></div>
        </div>
      </div>
    </section>
    <footer class="page-footer">
      <div class="footer-container">
        <div class="footer-inner">
          <div class="logo-wrapper"><a href="/"><img src="https://cornell.app.box.com/representation/file_version_13904801901/image_2048_jpg/1.jpg" class="logo"></a></div>
          <nav>
            <div class="links-wrapper">
              <ul class="links products">
                <li><a href="/shop">Shop</a></li>
              </ul>
              <ul class="links blogs">
                <li><a href="http://news.fiftythree.com">Blogs</a></li>
              </ul>
              <ul class="links contact">
                <li><a href="http://shop.fiftythree.com">Contact</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
              <ul class="links about-us">
                <li><a href="/about">About</a></li>
                <li><a href="http://press.fiftythree.com">Press</a></li>
              </ul>
            </div>
          </nav>
          <div class="copyright-info"><span class="made-in">Made in Ithaca</span><span class="copyright">© 2015 WorthyJerky, Inc.</span>
          </div>
        </div>
      </div>
    </footer>
  </body>