<body>
  <header class="page-header">
    <div class="header-grid-outer">
      <div class="header-grid-inner">
        <a class="logo-wrapper" href="/"><img class="logo" src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/53-dark.svg?11031268930801534669" onerror="this.onerror=null; this.src='/" /></a>

        <button id="nav-toggle-button" class="navigation-list-toggle-button"></button>
          <nav id="nav-toggle-menu" class="navigation-list">
            <ul class="nav-list">
              <li><a href="/about">About</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/shop">Shop</a></li>
              <li class="social fb"><a href="https://www.facebook.com/trailworthy" target="_blank" class="icon-social icon-facebook-dark">Facebook</a></li>
              <li class="social tw"><a href="http://www.twitter.com/WorthyJerky" target="_blank" class="icon-social icon-twitter-dark">Twitter</a></li>
            </ul>
          </nav>
      </div>
    </div>
  </header>
    <div class="carousel" data-value="walnut">
      <img data-src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/pencil-walnut-1.jpg?11031268930801534669" alt="Pencil" />
      <img data-src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/pencil-walnut-2.jpg?11031268930801534669" alt="Pencil" />
      <img data-src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/pencil-walnut-3.jpg?11031268930801534669" alt="Pencil" />
      <img data-src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/pencil-walnut-5.jpg?11031268930801534669" alt="Pencil" />
    </div>
    <div class="carousel" data-value="gold">
      <img data-src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/pencil-gold-1.jpg?11031268930801534669" alt="Pencil" />
      <img data-src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/pencil-gold-2.jpg?11031268930801534669" alt="Pencil" />
      <img data-src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/pencil-gold-3.jpg?11031268930801534669" alt="Pencil" />
    </div>
    <div class="carousel" data-value="graphite">
      <img data-src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/pencil-graphite-1.jpg?11031268930801534669" alt="Pencil" />
      <img data-src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/pencil-graphite-2.jpg?11031268930801534669" alt="Pencil" />
      <img data-src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/pencil-graphite-3.jpg?11031268930801534669" alt="Pencil" />
    </div>
<section class="shop-nav">
  <div class="inner-section">
    <div class="shop-nav-wrap">
      <nav class="bread">
        <ul>
          <li><a href="/shop">Catalog</a></li>
          <li></li>
        </ul>
      </nav>
      <nav class="alt">
        <ul>
          <li class="status"><a href="/pages/order-status/">Order Status</a></li>
          <li class="cart"><a href="/cart/"><span class="cart_count">1</span>Item</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<article class="product">
  <div class="article-inner">
    <div class="row">
      <div class="carousel-gestures"></div>
      <aside>
        <h1>Citrus BBQ steak</h1>
        <p>1.6oz</p>
        <hr />
        <div class="price-wrapper">
        
          
          
          
            <p class="price active" data-value="walnut">
              <span class="title"><strong>American classic with a tangy twist</strong></span>
              <span class="curr_symbol">$</span><span class="curr_amt">5.00</a><span class="curr_abbrev">USD</span>
            </p>
          
        
          
          
          
            <p class="price" data-value="gold">
              <span class="title"><strong>Gold</strong></span>
              <span class="curr_symbol">$</span><span class="curr_amt">59.95</a><span class="curr_abbrev">USD</span>
            </p>
          
        
          
          
          
            <p class="price" data-value="graphite">
              <span class="title"><strong>Graphite</strong></span>
              <span class="curr_symbol">$</span><span class="curr_amt">49.95</a><span class="curr_abbrev">USD</span>
            </p>
          
        
        </div>
        <div class="price-banner"><span>Free Shipping with 6 orders</span></div>
        
          
          
          
          
            <a href="#" class="swatch" data-id="380938388" data-value="walnut"><img src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/swatch_walnut.png?11031268930801534669" width="50" height="50" alt="Walnut + Magnetic Snap" /></a>
          
        
          
          
          
          
            <a href="#" class="swatch preselect" data-id="1126684432" data-value="gold"><img src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/swatch_gold.png?11031268930801534669" width="50" height="50" alt="Gold" /></a>
          
        
          
          
          
          
            <a href="#" class="swatch" data-id="371241449" data-value="graphite"><img src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/swatch_graphite.png?11031268930801534669" width="50" height="50" alt="Graphite" /></a>
          
        
        <hr />
        <div class="form-wrapper">
        <div id="shipping-to-country">
  <p><strong>Shipping to:</strong></p>
  <a href="#" class="current">United States</a>
  <ul>
    <li class="current"><a href="#" data-cc="US">United States</a></li>
    <li><a href="#" data-cc="AU">Australia</a></li>
    
    <li><a href="#" data-cc="CA">Canada</a></li>
    <li><a href="#" data-cc="GB">United Kingdom</a></li>
    <li class="other"><a href="#" data-cc="XX">Other countries...</a></li>
  </ul>
  <i class="icon-preload ion-checkmark-round"></i>
</div>

        
          
          
          
            <form action="/cart/add" method="post" class="active"data-id="380938388" data-value="walnut" data-sku="53PW01">
              <input type="hidden" id="variant_selected" name="id" value="380938388" />
              <input type="hidden" id="quantity_selected" name="quantity" value="1" />
            
              
                <button class="btn primary" type="submit" name="add" id="btnAddCart">Add to cart<i class="chevron chevron-button"></i></button>
              
            
            </form>
          
        
          
          
          
            <form action="/cart/add" method="post"data-id="1126684432" data-value="gold" data-sku="53PA05">
              <input type="hidden" id="variant_selected" name="id" value="1126684432" />
              <input type="hidden" id="quantity_selected" name="quantity" value="1" />
            
              
                <button class="btn primary" type="submit" name="add" id="btnAddCart">Add to cart<i class="chevron chevron-button"></i></button>
              
            
            </form>
          
        
          
          
          
            <form action="/cart/add" method="post"data-id="371241449" data-value="graphite" data-sku="53PA02">
              <input type="hidden" id="variant_selected" name="id" value="371241449" />
              <input type="hidden" id="quantity_selected" name="quantity" value="1" />
            
              
                <button class="btn primary" type="submit" name="add" id="btnAddCart">Add to cart<i class="chevron chevron-button"></i></button>
              
            
            </form>
          
        
        </div>
      </aside>

    </div>
  </div>
</article>

<section class="details">
    <div class="row satisfaction">
      <div class="satisfaction-txt">
        <h2 class="light">Simple Satisfaction</h2>
        <p>Pencil is made to make you happy, and we back that up with our return policies. If you're not pleased with your purchase from FiftyThree.com, just contact us within 30&nbsp;days and we will give you a refund or replacement. While we hope it doesn't come to that, we'll make it as painless as possible with free return shipping. In addition to the <a href="http://www.fiftythree.com/legal/pencil/guarantee">"30-day Satisfaction Guarantee,"</a> Pencil is covered by a <a href="http://www.fiftythree.com/legal/pencil/warranty">Limited Warranty</a>.</p>
        <p>*Only purchases made directly from shop.fiftythree.com qualify for the 30-Day Satisfaction Guarantee. For all other Pencils, please contact your authorized reseller for merchant guarantees.</p>
      </div>
      <div class="satisfaction-img">
        <a href="http://www.fiftythree.com/legal/pencil/guarantee"><img src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/satisfaction_seal.svg?11031268930801534669" alt="30-day Satisfaction Guarantee" onerror="this.onerror=null; this.src='//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/satisfaction_seal.png?11031268930801534669'" /></a>
      </div>
    </div>

    <div class="row faqs">
      <div>
        <h2 class="light">Frequently Asked Questions</h2>
      </div>
      <div class="faq">
        <a href="#">Which devices can I use with Pencil?<i class="chevron"></i></a>
        <p>Pencil's expressive features like Erase and Blend are only available when connected to Paper and other supported applications, including Procreate, Sketchbook or Noteshelf. However, Pencil will work well as a passive (not connected) stylus on any standard touchscreen.</p>
        <p>Note that Pencil’s expressive features also only work on iPad generation 3 or 4, iPad&nbsp;Air (all) or iPad mini (all). <a data-dialog="compatibility" href="#">Check here if you’re not sure which iPad you have<i class="chevron chevron-text chevron-orange chevron-medium"></i></a>
      </div>
      <div class="faq">
        <a href="#">Will Pencil work with the screen protector on my iPad?<i class="chevron"></i></a>
        <p>We do not recommend using a screen protector with Pencil. The rough surface of many screen protectors can dramatically increase wear on Pencil’s rubber tips. Screen protectors may also interfere with the iPad’s ability to detect Pencil touches on the screen.</p>
      </div>
      <div class="faq">
        <a href="#">Where can I get Pencil in my country?<i class="chevron"></i></a>
        <p>Pencil now ships to 65+ countries worldwide via Amazon. See the full list of <a href="http://www.fiftythree.com/buy" target="_blank">where to buy</a>.</p>
      </div>
      <div class="faq">
        <a href="#">When will we ship your order?<i class="chevron"></i></a>
        <p>Generally, orders received and accepted before 1:00PM PST will  be shipped the same business day from Monday - Friday. Orders received and accepted after 1:00PM and on weekends will ship the next business day.</p>
      </div>
      <div class="faq">
        <a href="#">How can I ensure I get my Pencil before the holidays?<i class="chevron"></i></a>
        <p>While we don’t have any order processing delays during the holiday season, we cannot control carrier delays. If your order is critical to be received before a certain day, we recommend you select one of our FedEx shipping options.</p>
      </div>
      <div class="faq">
        <a href="#">How long will it take to get my order?<i class="chevron"></i></a>
        <p>Before final checkout you can chose your preferred shipping method which will indicate an estimated transit time. Transit times can vary based on your shipping location.</p>
      </div>
      <div class="more">
        <a href="http://support.fiftythree.com/customer/portal/articles/1358809-pencil-faq">Visit our Support page for more answers to common questions<i class="chevron chevron-text chevron-orange chevron-medium"></i></a>
      </div>
    </div>

  

    <div class="row specs header">
      <div>
        <h2 class="light">Technical Specifications</h2>
      </div>
    </div>

    <div class="row specs data">

      <div class="spec-row">
        <div class="spec nb"></div>
        <div class="val-1 nb"><img src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/swatch_walnut.png?11031268930801534669" width="50" height="50" alt="Walnut" /><h3>Walnut</h3></div>
        <div class="val-1 nb"><img src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/swatch_gold.png?11031268930801534669" width="50" height="50" alt="Gold" /><h3>Gold</h3></div>
        <div class="val-1 nb"><img src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/swatch_graphite.png?11031268930801534669" width="50" height="50" alt="Graphite" /><h3>Graphite</h3></div>
      </div>

      <div class="spec-row">
        <div class="spec body">Body</div>
        <div class="val-1 nb body-walnut"><p>Premium sustainably-harvested walnut. Unique grain and character changes as you use it.<p></div>
        <div class="val-1 nb body-gold"><p>Anodized, brushed aluminum.</p></div>
        <div class="val-1 nb body-graphite"><p>Anodized, brushed aluminum.</p></div>
      </div>

      <div class="spec-row">
        <div class="spec">Magnetic Snap</div>
        <div class="val-1">
          <p><strong>Included</strong></p>
          <p>Magnets in your Pencil let you stick it to your iPad Smart Cover for convenient carrying.</p>
        </div>
        <div class="val-1"><p><strong class="light">Not included</strong></p></div>
        <div class="val-1"><p><strong class="light">Not included</strong></p></div>
      </div>

      <div class="spec-row">
        <div class="spec">Price</div>
        <div class="val-1"><p><strong>$59.95</strong> USD</p></div>
        <div class="val-1"><p><strong>$59.95</strong> USD</p></div>
        <div class="val-1"><p><strong>$49.95</strong> USD</p></div>
      </div>

      <div class="spec-row">
        <div class="spec">Weight</div>
        <div class="val-1"><p>26g</p></div>
        <div class="val-1"><p>34g</p></div>
        <div class="val-1"><p>34g</p></div>
      </div>

      <div class="spec-row">
        <div class="spec">Dimensions</div>
        <div class="val-3"><p>L 138mm x W 15.6mm x H 8.5mm</p></div>
      </div>

      <div class="spec-row">
        <div class="spec">Power and Battery</div>
        <div class="val-3">
          <ul>
            <li>Full charge will last one month with normal use.</li>
            <li>Removable rechargeable lithium-polymer battery.</li>
            <li>Charge on any USB port.</li>
          </ul>
        </div>
      </div>

      <div class="spec-row">
        <div class="spec">System Requirements</div>
        <div class="val-3">
          <p>An iPad with Retina display or iPad&nbsp;mini is required for full support of features. Connects via Bluetooth&nbsp;LE (Low Energy).</p>
          <p><a data-dialog="compatibility" href="#">Find out if Pencil will connect to your iPad<i class="chevron chevron-text chevron-orange chevron-medium"></i></a></p>
        </div>
      </div>

    </div>

  

  </div>
</section>

<div class="dialog-padding">
  <div class="dialog-container dialog-compatibility" id="yes">
  <div class="dialog-row">
    <div class="dialog-header"></div>
    <div class="dialog-content">
      <p>
        <img src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/ipad-yes.svg?11031268930801534669" width="125" alt="iPad with a Retina display can connect!" />
        <span class="title"><strong class="y">Yes!</strong> Pencil can connect with this iPad.</span>
        You are using an iPad with a Retina display.
      </p>
      <p>
        <span class="title">Have another iPad?</span>
        Visit this page using any iPad to find out if Pencil can connect to it. You may also <a class="dialog" data-dialog="manual" href="#">look up the model number</a>.
      </p>
    </div>
    <div class="dialog-buttons">
      <a href="#" class="close wide">Close</a>
    </div>
  </div>
</div>

<div class="dialog-container dialog-compatibility" id="no">
  <div class="dialog-row">
    <div class="dialog-header"></div>
    <div class="dialog-content">
      <p>
        <img src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/ipad-no.svg?11031268930801534669" width="125" alt="iPad cannot connect!" />
        <span class="title"><strong>Sorry,</strong> Pencil cannot connect with this iPad.</span>
        You are using iPad 1. Pencil requires a Bluetooth LE (Low Energy) connection which is offered by iPad with a Retina display and iPad mini.
      </p>
      <p>
        <span class="title">Have another iPad?</span>
        Visit this page using any iPad to find out if Pencil can connect to it. You may also <a class="dialog" data-dialog="manual" href="#">look up the model number</a>.
      </p>
    </div>
    <div class="dialog-buttons">
      <a href="#" class="close wide">Close</a>
    </div>
  </div>
</div>

<div class="dialog-container dialog-compatibility" id="maybe">
  <div class="dialog-row">
    <div class="dialog-header">
      <p class="title">This iPad is either:</p>
    </div>
    <div class="dialog-content">
      <p class="maybe-1">
        <span class="measure top">7.87 in (200 mm)</span>
        <span class="measure side">5.3 in (135 mm)</span>
        <img src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/ipad-mini-yes.svg?11031268930801534669" width="100" alt="iPad mini can connect!" />
        <span class="title">iPad mini</span>
        <strong class="y">Yes!</strong> Pencil can connect to iPad mini.
      </p>
      <p class="sep"><span>or</span></p>
      <p class="maybe-2">
        <span class="measure top">9.5 in (241 mm)</span>
        <span class="measure side">7.31 in (186 mm)</span>
        <img src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/ipad-no.svg?11031268930801534669" width="100" alt="iPad 2 cannot connect" />
        <span class="title">iPad 2</span>
        <strong>Sorry</strong>, Pencil cannot connect to iPad 2.
      </p>
      <p>
        <span class="title">Still not sure?</span>
        You may also verify your iPad model by <a class="dialog" data-dialog="manual" href="#">looking up the model number</a>.
      </p>
    </div>
    <div class="dialog-buttons">
      <a href="#" class="close wide">Close</a>
    </div>
  </div>
</div>

<div class="dialog-container dialog-compatibility" id="manual">
  <div class="dialog-row">
    <div class="dialog-header">
      <p class="title">"Can Pencil connect with my iPad?"</p>
    </div>
    <div class="dialog-content">
      <p class="read locate">
        <strong>Locate</strong> the model number on the back of your iPad.
      </p>
      <p class="look">
        <img src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/model-number-2x.png?11031268930801534669" width="255" alt="Where to check your iPad model number" />
      </p>
      <p class="read verify">
        <strong>Verify</strong> that it matches a compatible model number listed here.
      </p>
      <p class="look">
        <span class="models">
          <span>A1403</span>
          <span>A1416</span>
          <span>A1430</span>
          <span>A1432</span>
          <span>A1454</span>
          <span>A1455</span>
          <span>A1458</span>
          <span>A1459</span>
          <span>A1460</span>
          <span>A1474</span>
          <span>A1475</span>
          <span>A1489</span>
          <span>A1490</span>
          <span>A1491</span>
          <span>A1599</span>
          <span>A1600</span>                   
          <span>A1566</span>
          <span>A1567</span>
        </span>
      </p>
    </div>
    <div class="dialog-buttons">
      <a href="#" class="close wide">Close</a>
    </div>
  </div>
</div>


  <div class="dialog-container" id="notify-country">
  <div class="dialog-row">
    <form>
      <div class="dialog-header"></div>
      <div class="dialog-content">
        <p><span class="title quoted">&ldquo;When will Pencil become available in my country?&rdquo;</span>
        We’re working hard to bring Pencil to all creators around the world. Let us know where you are and we’ll email you when Pencil becomes available in your area.</p>
        <fieldset>
          <div class="group">
            <input type="email" placeholder="Email address *" name="email"/>
            <label class="error" for="email">Please enter a valid email address</label>
          </div>
          <div class="group">
            
            <select name="country" class="placeholder">
  <option default="default" selected="selected" value="">Country *</option>

  <option value="AF">Afghanistan</option>
  <option value="AL">Albania</option>
  <option value="DZ">Algeria</option>
  <option value="AD">Andorra</option>
  <option value="AO">Angola</option>
  <option value="AG">Antigua and Barbuda</option>
  <option value="AR">Argentina</option>
  <option value="AM">Armenia</option>
  <option value="AW">Aruba</option>
  <option value="AU">Australia</option>
  <option value="AT">Austria</option>
  <option value="AZ">Azerbaijan</option>
  <option value="BS">Bahamas</option>
  <option value="BH">Bahrain</option>
  <option value="BD">Bangladesh</option>
  <option value="BB">Barbados</option>
  <option value="BY">Belarus</option>
  <option value="BE">Belgium</option>
  <option value="BZ">Belize</option>
  <option value="BJ">Benin</option>
  <option value="BT">Bhutan</option>
  <option value="BO">Bolivia</option>
  <option value="BA">Bosnia and Herzegovina</option>
  <option value="BW">Botswana</option>
  <option value="BR">Brazil</option>
  <option value="BN">Brunei</option>
  <option value="BG">Bulgaria</option>
  <option value="BF">Burkina Faso</option>
  <option value="MM">Burma</option>
  <option value="BI">Burundi</option>
  <option value="KH">Cambodia</option>
  <option value="CM">Cameroon</option>
  <option value="CV">Cape Verde</option>
  <option value="CF">Central African Republic</option>
  <option value="TD">Chad</option>
  <option value="CL">Chile</option>
  <option value="CN">China</option>
  <option value="CO">Colombia</option>
  <option value="KM">Comoros</option>
  <option value="CG">Congo</option>
  <option value="CR">Costa Rica</option>
  <option value="CI">Cote d'Ivoire</option>
  <option value="HR">Croatia</option>
  <option value="CW">Curacao</option>
  <option value="CY">Cyprus</option>
  <option value="CZ">Czech Republic</option>
  <option value="DK">Denmark</option>
  <option value="DJ">Djibouti</option>
  <option value="DM">Dominica</option>
  <option value="DO">Dominican Republic</option>
  <option value="TL">East Timor</option>
  <option value="EC">Ecuador</option>
  <option value="EG">Egypt</option>
  <option value="SV">El Salvador</option>
  <option value="GQ">Equatorial Guinea</option>
  <option value="ER">Eritrea</option>
  <option value="EE">Estonia</option>
  <option value="ET">Ethiopia</option>
  <option value="FJ">Fiji</option>
  <option value="FI">Finland</option>
  <option value="FR">France</option>
  <option value="GA">Gabon</option>
  <option value="GM">Gambia</option>
  <option value="GE">Georgia</option>
  <option value="DE">Germany</option>
  <option value="GH">Ghana</option>
  <option value="GR">Greece</option>
  <option value="GD">Grenada</option>
  <option value="GT">Guatemala</option>
  <option value="GN">Guinea</option>
  <option value="GW">Guinea-Bissau</option>
  <option value="GY">Guyana</option>
  <option value="HT">Haiti</option>
  <option value="VA">Holy See</option>
  <option value="HN">Honduras</option>
  <option value="HK">Hong Kong</option>
  <option value="HU">Hungary</option>
  <option value="IS">Iceland</option>
  <option value="IN">India</option>
  <option value="ID">Indonesia</option>
  <option value="IQ">Iraq</option>
  <option value="IE">Ireland</option>
  <option value="IL">Israel</option>
  <option value="IT">Italy</option>
  <option value="JM">Jamaica</option>
  <option value="JP">Japan</option>
  <option value="JO">Jordan</option>
  <option value="KZ">Kazakhstan</option>
  <option value="KE">Kenya</option>
  <option value="KI">Kiribati</option>
  <option value="KW">Kuwait</option>
  <option value="KG">Kyrgyzstan</option>
  <option value="LA">Laos</option>
  <option value="LV">Latvia</option>
  <option value="LB">Lebanon</option>
  <option value="LS">Lesotho</option>
  <option value="LR">Liberia</option>
  <option value="LY">Libya</option>
  <option value="LI">Liechtenstein</option>
  <option value="LT">Lithuania</option>
  <option value="LU">Luxembourg</option>
  <option value="MO">Macau</option>
  <option value="MK">Macedonia</option>
  <option value="MG">Madagascar</option>
  <option value="MW">Malawi</option>
  <option value="MY">Malaysia</option>
  <option value="MV">Maldives</option>
  <option value="ML">Mali</option>
  <option value="MT">Malta</option>
  <option value="MH">Marshall Islands</option>
  <option value="MR">Mauritania</option>
  <option value="MU">Mauritius</option>
  <option value="MX">Mexico</option>
  <option value="FM">Micronesia</option>
  <option value="MD">Moldova</option>
  <option value="MC">Monaco</option>
  <option value="MN">Mongolia</option>
  <option value="ME">Montenegro</option>
  <option value="MA">Morocco</option>
  <option value="MZ">Mozambique</option>
  <option value="NA">Namibia</option>
  <option value="NR">Nauru</option>
  <option value="NP">Nepal</option>
  <option value="NL">Netherlands</option>
  <option value="NZ">New Zealand</option>
  <option value="NI">Nicaragua</option>
  <option value="NE">Niger</option>
  <option value="NG">Nigeria</option>
  <option value="NO">Norway</option>
  <option value="OM">Oman</option>
  <option value="PK">Pakistan</option>
  <option value="PW">Palau</option>
  <option value="PS">Palestinian Territories</option>
  <option value="PA">Panama</option>
  <option value="PG">Papua New Guinea</option>
  <option value="PY">Paraguay</option>
  <option value="PE">Peru</option>
  <option value="PH">Philippines</option>
  <option value="PL">Poland</option>
  <option value="PT">Portugal</option>
  <option value="QA">Qatar</option>
  <option value="RO">Romania</option>
  <option value="RU">Russia</option>
  <option value="RW">Rwanda</option>
  <option value="KN">Saint Kitts and Nevis</option>
  <option value="LC">Saint Lucia</option>
  <option value="VC">Saint Vincent and the Grenadines</option>
  <option value="WS">Samoa</option>
  <option value="SM">San Marino</option>
  <option value="ST">Sao Tome and Principe</option>
  <option value="SA">Saudi Arabia</option>
  <option value="SN">Senegal</option>
  <option value="RS">Serbia</option>
  <option value="SC">Seychelles</option>
  <option value="SL">Sierra Leone</option>
  <option value="SG">Singapore</option>
  <option value="SX">Sint Maarten</option>
  <option value="SK">Slovakia</option>
  <option value="SI">Slovenia</option>
  <option value="SB">Solomon Islands</option>
  <option value="SO">Somalia</option>
  <option value="ZA">South Africa</option>
  <option value="KR">South Korea</option>
  <option value="SS">South Sudan</option>
  <option value="ES">Spain</option>
  <option value="LK">Sri Lanka</option>
  <option value="SR">Suriname</option>
  <option value="SZ">Swaziland</option>
  <option value="SE">Sweden</option>
  <option value="CH">Switzerland</option>
  <option value="TW">Taiwan</option>
  <option value="TJ">Tajikistan</option>
  <option value="TZ">Tanzania</option>
  <option value="TH">Thailand</option>
  <option value="TL">Timor-Leste</option>
  <option value="TG">Togo</option>
  <option value="TO">Tonga</option>
  <option value="TT">Trinidad and Tobago</option>
  <option value="TN">Tunisia</option>
  <option value="TR">Turkey</option>
  <option value="TM">Turkmenistan</option>
  <option value="TV">Tuvalu</option>
  <option value="UG">Uganda</option>
  <option value="UA">Ukraine</option>
  <option value="AE">United Arab Emirates</option>
  <option value="GB">United Kingdom</option>
  <option value="UY">Uruguay</option>
  <option value="UZ">Uzbekistan</option>
  <option value="VU">Vanuatu</option>
  <option value="VE">Venezuela</option>
  <option value="VN">Vietnam</option>
  <option value="YE">Yemen</option>
  <option value="ZM">Zambia</option>
  <option value="ZW">Zimbabwe</option>
</select>

            <label class="error" for="country">Please choose a country</label>
          </div>
        </fieldset>
        <fieldset>
          <input class="notify" type="checkbox" id="chkSignupCountry" name="newsletter" checked="checked" /><label for="chkSignupCountry">Send me occasional emails about other FiftyThree products and promotions.</label>
        </fieldset>
      </div>
      <div class="dialog-content success">
        <p class="center"><span class="title">Thank you!</span>We'll be in touch.</p>
      </div>
      <div class="dialog-buttons">
        <a href="#" class="close half">Cancel</a>
        <a href="#" class="submit half">Notify me</a>
      </div>
      <div class="dialog-buttons success">
        <a href="#" class="close">Close</a>
      </div>
      <div class="dialog-loading">
        <span></span><img src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/loading-blk-lt-2x.png?11031268930801534669" width="52" height="52" alt="Loading" />
      </div>
    </form>
  </div>
</div>

  
    
    <div class="dialog-container" id="notify-inventory" data-sku="53PW01">
  <div class="dialog-row">
    <form>
      <div class="dialog-header"></div>
      <div class="dialog-content">
        <input type="hidden" name="sku" id="sku" value="53PW01" />
        <img class="product-img" src="//cdn.shopify.com/s/files/1/0245/8513/products/pencil-walnut-graylightest_compact.jpg?v=1422384844" alt="Pencil" width="160" />
        <p><span class="title">We can notify you when this is in stock.</span></p>
        <p class="product-name"><strong>Pencil</strong><br />Walnut + Magnetic Snap</p>
        <fieldset>
          <div class="group">
            <input type="email" placeholder="Email address *" required="required" name="email"/>
            <label class="error" for="email">Please enter a valid email address</label>
          </div>
          <div class="group">
            
            <select name="country" class="placeholder">
  <option default="default" selected="selected" value="">Country *</option>

  <option value="US">United States</option>
  <option value="CA">Canada</option>
  <option value="" disabled="disabled">---------------</option>

  <option value="AF">Afghanistan</option>
  <option value="AL">Albania</option>
  <option value="DZ">Algeria</option>
  <option value="AD">Andorra</option>
  <option value="AO">Angola</option>
  <option value="AG">Antigua and Barbuda</option>
  <option value="AR">Argentina</option>
  <option value="AM">Armenia</option>
  <option value="AW">Aruba</option>
  <option value="AU">Australia</option>
  <option value="AT">Austria</option>
  <option value="AZ">Azerbaijan</option>
  <option value="BS">Bahamas</option>
  <option value="BH">Bahrain</option>
  <option value="BD">Bangladesh</option>
  <option value="BB">Barbados</option>
  <option value="BY">Belarus</option>
  <option value="BE">Belgium</option>
  <option value="BZ">Belize</option>
  <option value="BJ">Benin</option>
  <option value="BT">Bhutan</option>
  <option value="BO">Bolivia</option>
  <option value="BA">Bosnia and Herzegovina</option>
  <option value="BW">Botswana</option>
  <option value="BR">Brazil</option>
  <option value="BN">Brunei</option>
  <option value="BG">Bulgaria</option>
  <option value="BF">Burkina Faso</option>
  <option value="MM">Burma</option>
  <option value="BI">Burundi</option>
  <option value="KH">Cambodia</option>
  <option value="CM">Cameroon</option>
  <option value="CV">Cape Verde</option>
  <option value="CF">Central African Republic</option>
  <option value="TD">Chad</option>
  <option value="CL">Chile</option>
  <option value="CN">China</option>
  <option value="CO">Colombia</option>
  <option value="KM">Comoros</option>
  <option value="CG">Congo</option>
  <option value="CR">Costa Rica</option>
  <option value="CI">Cote d'Ivoire</option>
  <option value="HR">Croatia</option>
  <option value="CW">Curacao</option>
  <option value="CY">Cyprus</option>
  <option value="CZ">Czech Republic</option>
  <option value="DK">Denmark</option>
  <option value="DJ">Djibouti</option>
  <option value="DM">Dominica</option>
  <option value="DO">Dominican Republic</option>
  <option value="TL">East Timor</option>
  <option value="EC">Ecuador</option>
  <option value="EG">Egypt</option>
  <option value="SV">El Salvador</option>
  <option value="GQ">Equatorial Guinea</option>
  <option value="ER">Eritrea</option>
  <option value="EE">Estonia</option>
  <option value="ET">Ethiopia</option>
  <option value="FJ">Fiji</option>
  <option value="FI">Finland</option>
  <option value="FR">France</option>
  <option value="GA">Gabon</option>
  <option value="GM">Gambia</option>
  <option value="GE">Georgia</option>
  <option value="DE">Germany</option>
  <option value="GH">Ghana</option>
  <option value="GR">Greece</option>
  <option value="GD">Grenada</option>
  <option value="GT">Guatemala</option>
  <option value="GN">Guinea</option>
  <option value="GW">Guinea-Bissau</option>
  <option value="GY">Guyana</option>
  <option value="HT">Haiti</option>
  <option value="VA">Holy See</option>
  <option value="HN">Honduras</option>
  <option value="HK">Hong Kong</option>
  <option value="HU">Hungary</option>
  <option value="IS">Iceland</option>
  <option value="IN">India</option>
  <option value="ID">Indonesia</option>
  <option value="IQ">Iraq</option>
  <option value="IE">Ireland</option>
  <option value="IL">Israel</option>
  <option value="IT">Italy</option>
  <option value="JM">Jamaica</option>
  <option value="JP">Japan</option>
  <option value="JO">Jordan</option>
  <option value="KZ">Kazakhstan</option>
  <option value="KE">Kenya</option>
  <option value="KI">Kiribati</option>
  <option value="KW">Kuwait</option>
  <option value="KG">Kyrgyzstan</option>
  <option value="LA">Laos</option>
  <option value="LV">Latvia</option>
  <option value="LB">Lebanon</option>
  <option value="LS">Lesotho</option>
  <option value="LR">Liberia</option>
  <option value="LY">Libya</option>
  <option value="LI">Liechtenstein</option>
  <option value="LT">Lithuania</option>
  <option value="LU">Luxembourg</option>
  <option value="MO">Macau</option>
  <option value="MK">Macedonia</option>
  <option value="MG">Madagascar</option>
  <option value="MW">Malawi</option>
  <option value="MY">Malaysia</option>
  <option value="MV">Maldives</option>
  <option value="ML">Mali</option>
  <option value="MT">Malta</option>
  <option value="MH">Marshall Islands</option>
  <option value="MR">Mauritania</option>
  <option value="MU">Mauritius</option>
  <option value="MX">Mexico</option>
  <option value="FM">Micronesia</option>
  <option value="MD">Moldova</option>
  <option value="MC">Monaco</option>
  <option value="MN">Mongolia</option>
  <option value="ME">Montenegro</option>
  <option value="MA">Morocco</option>
  <option value="MZ">Mozambique</option>
  <option value="NA">Namibia</option>
  <option value="NR">Nauru</option>
  <option value="NP">Nepal</option>
  <option value="NL">Netherlands</option>
  <option value="NZ">New Zealand</option>
  <option value="NI">Nicaragua</option>
  <option value="NE">Niger</option>
  <option value="NG">Nigeria</option>
  <option value="NO">Norway</option>
  <option value="OM">Oman</option>
  <option value="PK">Pakistan</option>
  <option value="PW">Palau</option>
  <option value="PS">Palestinian Territories</option>
  <option value="PA">Panama</option>
  <option value="PG">Papua New Guinea</option>
  <option value="PY">Paraguay</option>
  <option value="PE">Peru</option>
  <option value="PH">Philippines</option>
  <option value="PL">Poland</option>
  <option value="PT">Portugal</option>
  <option value="QA">Qatar</option>
  <option value="RO">Romania</option>
  <option value="RU">Russia</option>
  <option value="RW">Rwanda</option>
  <option value="KN">Saint Kitts and Nevis</option>
  <option value="LC">Saint Lucia</option>
  <option value="VC">Saint Vincent and the Grenadines</option>
  <option value="WS">Samoa</option>
  <option value="SM">San Marino</option>
  <option value="ST">Sao Tome and Principe</option>
  <option value="SA">Saudi Arabia</option>
  <option value="SN">Senegal</option>
  <option value="RS">Serbia</option>
  <option value="SC">Seychelles</option>
  <option value="SL">Sierra Leone</option>
  <option value="SG">Singapore</option>
  <option value="SX">Sint Maarten</option>
  <option value="SK">Slovakia</option>
  <option value="SI">Slovenia</option>
  <option value="SB">Solomon Islands</option>
  <option value="SO">Somalia</option>
  <option value="ZA">South Africa</option>
  <option value="KR">South Korea</option>
  <option value="SS">South Sudan</option>
  <option value="ES">Spain</option>
  <option value="LK">Sri Lanka</option>
  <option value="SR">Suriname</option>
  <option value="SZ">Swaziland</option>
  <option value="SE">Sweden</option>
  <option value="CH">Switzerland</option>
  <option value="TW">Taiwan</option>
  <option value="TJ">Tajikistan</option>
  <option value="TZ">Tanzania</option>
  <option value="TH">Thailand</option>
  <option value="TL">Timor-Leste</option>
  <option value="TG">Togo</option>
  <option value="TO">Tonga</option>
  <option value="TT">Trinidad and Tobago</option>
  <option value="TN">Tunisia</option>
  <option value="TR">Turkey</option>
  <option value="TM">Turkmenistan</option>
  <option value="TV">Tuvalu</option>
  <option value="UG">Uganda</option>
  <option value="UA">Ukraine</option>
  <option value="AE">United Arab Emirates</option>
  <option value="GB">United Kingdom</option>
  <option value="UY">Uruguay</option>
  <option value="UZ">Uzbekistan</option>
  <option value="VU">Vanuatu</option>
  <option value="VE">Venezuela</option>
  <option value="VN">Vietnam</option>
  <option value="YE">Yemen</option>
  <option value="ZM">Zambia</option>
  <option value="ZW">Zimbabwe</option>
</select>

            <label class="error" for="country">Please choose a country</label>
          </div>
        </fieldset>
        <fieldset>
          <input class="notify" type="checkbox" id="chkSignupInventory53PW01" name="newsletter" checked="checked" /><label for="chkSignupInventory53PW01">Send me occasional emails about other FiftyThree products and promotions.</label>
        </fieldset>
      </div>
      <div class="dialog-content success">
        <p class="center"><span class="title">Thank you!</span>We'll be in touch.</p>
      </div>
      <div class="dialog-buttons">
        <a href="#" class="close half">Cancel</a>
        <a href="#" class="submit half">Notify me</a>
      </div>
      <div class="dialog-buttons success">
        <a href="#" class="close">Close</a>
      </div>
      <div class="dialog-loading">
        <span></span><img src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/loading-blk-lt-2x.png?11031268930801534669" width="52" height="52" alt="Loading" />
      </div>
    </form>
  </div>
</div>

  
    
    <div class="dialog-container" id="notify-inventory" data-sku="53PA05">
  <div class="dialog-row">
    <form>
      <div class="dialog-header"></div>
      <div class="dialog-content">
        <input type="hidden" name="sku" id="sku" value="53PA05" />
        <img class="product-img" src="//cdn.shopify.com/s/files/1/0245/8513/products/pencil-gold-graylightest_compact.jpg?v=1422382133" alt="Pencil" width="160" />
        <p><span class="title">We can notify you when this is in stock.</span></p>
        <p class="product-name"><strong>Pencil</strong><br />Gold</p>
        <fieldset>
          <div class="group">
            <input type="email" placeholder="Email address *" required="required" name="email"/>
            <label class="error" for="email">Please enter a valid email address</label>
          </div>
          <div class="group">
            
            <select name="country" class="placeholder">
  <option default="default" selected="selected" value="">Country *</option>

  <option value="US">United States</option>
  <option value="CA">Canada</option>
  <option value="" disabled="disabled">---------------</option>

  <option value="AF">Afghanistan</option>
  <option value="AL">Albania</option>
  <option value="DZ">Algeria</option>
  <option value="AD">Andorra</option>
  <option value="AO">Angola</option>
  <option value="AG">Antigua and Barbuda</option>
  <option value="AR">Argentina</option>
  <option value="AM">Armenia</option>
  <option value="AW">Aruba</option>
  <option value="AU">Australia</option>
  <option value="AT">Austria</option>
  <option value="AZ">Azerbaijan</option>
  <option value="BS">Bahamas</option>
  <option value="BH">Bahrain</option>
  <option value="BD">Bangladesh</option>
  <option value="BB">Barbados</option>
  <option value="BY">Belarus</option>
  <option value="BE">Belgium</option>
  <option value="BZ">Belize</option>
  <option value="BJ">Benin</option>
  <option value="BT">Bhutan</option>
  <option value="BO">Bolivia</option>
  <option value="BA">Bosnia and Herzegovina</option>
  <option value="BW">Botswana</option>
  <option value="BR">Brazil</option>
  <option value="BN">Brunei</option>
  <option value="BG">Bulgaria</option>
  <option value="BF">Burkina Faso</option>
  <option value="MM">Burma</option>
  <option value="BI">Burundi</option>
  <option value="KH">Cambodia</option>
  <option value="CM">Cameroon</option>
  <option value="CV">Cape Verde</option>
  <option value="CF">Central African Republic</option>
  <option value="TD">Chad</option>
  <option value="CL">Chile</option>
  <option value="CN">China</option>
  <option value="CO">Colombia</option>
  <option value="KM">Comoros</option>
  <option value="CG">Congo</option>
  <option value="CR">Costa Rica</option>
  <option value="CI">Cote d'Ivoire</option>
  <option value="HR">Croatia</option>
  <option value="CW">Curacao</option>
  <option value="CY">Cyprus</option>
  <option value="CZ">Czech Republic</option>
  <option value="DK">Denmark</option>
  <option value="DJ">Djibouti</option>
  <option value="DM">Dominica</option>
  <option value="DO">Dominican Republic</option>
  <option value="TL">East Timor</option>
  <option value="EC">Ecuador</option>
  <option value="EG">Egypt</option>
  <option value="SV">El Salvador</option>
  <option value="GQ">Equatorial Guinea</option>
  <option value="ER">Eritrea</option>
  <option value="EE">Estonia</option>
  <option value="ET">Ethiopia</option>
  <option value="FJ">Fiji</option>
  <option value="FI">Finland</option>
  <option value="FR">France</option>
  <option value="GA">Gabon</option>
  <option value="GM">Gambia</option>
  <option value="GE">Georgia</option>
  <option value="DE">Germany</option>
  <option value="GH">Ghana</option>
  <option value="GR">Greece</option>
  <option value="GD">Grenada</option>
  <option value="GT">Guatemala</option>
  <option value="GN">Guinea</option>
  <option value="GW">Guinea-Bissau</option>
  <option value="GY">Guyana</option>
  <option value="HT">Haiti</option>
  <option value="VA">Holy See</option>
  <option value="HN">Honduras</option>
  <option value="HK">Hong Kong</option>
  <option value="HU">Hungary</option>
  <option value="IS">Iceland</option>
  <option value="IN">India</option>
  <option value="ID">Indonesia</option>
  <option value="IQ">Iraq</option>
  <option value="IE">Ireland</option>
  <option value="IL">Israel</option>
  <option value="IT">Italy</option>
  <option value="JM">Jamaica</option>
  <option value="JP">Japan</option>
  <option value="JO">Jordan</option>
  <option value="KZ">Kazakhstan</option>
  <option value="KE">Kenya</option>
  <option value="KI">Kiribati</option>
  <option value="KW">Kuwait</option>
  <option value="KG">Kyrgyzstan</option>
  <option value="LA">Laos</option>
  <option value="LV">Latvia</option>
  <option value="LB">Lebanon</option>
  <option value="LS">Lesotho</option>
  <option value="LR">Liberia</option>
  <option value="LY">Libya</option>
  <option value="LI">Liechtenstein</option>
  <option value="LT">Lithuania</option>
  <option value="LU">Luxembourg</option>
  <option value="MO">Macau</option>
  <option value="MK">Macedonia</option>
  <option value="MG">Madagascar</option>
  <option value="MW">Malawi</option>
  <option value="MY">Malaysia</option>
  <option value="MV">Maldives</option>
  <option value="ML">Mali</option>
  <option value="MT">Malta</option>
  <option value="MH">Marshall Islands</option>
  <option value="MR">Mauritania</option>
  <option value="MU">Mauritius</option>
  <option value="MX">Mexico</option>
  <option value="FM">Micronesia</option>
  <option value="MD">Moldova</option>
  <option value="MC">Monaco</option>
  <option value="MN">Mongolia</option>
  <option value="ME">Montenegro</option>
  <option value="MA">Morocco</option>
  <option value="MZ">Mozambique</option>
  <option value="NA">Namibia</option>
  <option value="NR">Nauru</option>
  <option value="NP">Nepal</option>
  <option value="NL">Netherlands</option>
  <option value="NZ">New Zealand</option>
  <option value="NI">Nicaragua</option>
  <option value="NE">Niger</option>
  <option value="NG">Nigeria</option>
  <option value="NO">Norway</option>
  <option value="OM">Oman</option>
  <option value="PK">Pakistan</option>
  <option value="PW">Palau</option>
  <option value="PS">Palestinian Territories</option>
  <option value="PA">Panama</option>
  <option value="PG">Papua New Guinea</option>
  <option value="PY">Paraguay</option>
  <option value="PE">Peru</option>
  <option value="PH">Philippines</option>
  <option value="PL">Poland</option>
  <option value="PT">Portugal</option>
  <option value="QA">Qatar</option>
  <option value="RO">Romania</option>
  <option value="RU">Russia</option>
  <option value="RW">Rwanda</option>
  <option value="KN">Saint Kitts and Nevis</option>
  <option value="LC">Saint Lucia</option>
  <option value="VC">Saint Vincent and the Grenadines</option>
  <option value="WS">Samoa</option>
  <option value="SM">San Marino</option>
  <option value="ST">Sao Tome and Principe</option>
  <option value="SA">Saudi Arabia</option>
  <option value="SN">Senegal</option>
  <option value="RS">Serbia</option>
  <option value="SC">Seychelles</option>
  <option value="SL">Sierra Leone</option>
  <option value="SG">Singapore</option>
  <option value="SX">Sint Maarten</option>
  <option value="SK">Slovakia</option>
  <option value="SI">Slovenia</option>
  <option value="SB">Solomon Islands</option>
  <option value="SO">Somalia</option>
  <option value="ZA">South Africa</option>
  <option value="KR">South Korea</option>
  <option value="SS">South Sudan</option>
  <option value="ES">Spain</option>
  <option value="LK">Sri Lanka</option>
  <option value="SR">Suriname</option>
  <option value="SZ">Swaziland</option>
  <option value="SE">Sweden</option>
  <option value="CH">Switzerland</option>
  <option value="TW">Taiwan</option>
  <option value="TJ">Tajikistan</option>
  <option value="TZ">Tanzania</option>
  <option value="TH">Thailand</option>
  <option value="TL">Timor-Leste</option>
  <option value="TG">Togo</option>
  <option value="TO">Tonga</option>
  <option value="TT">Trinidad and Tobago</option>
  <option value="TN">Tunisia</option>
  <option value="TR">Turkey</option>
  <option value="TM">Turkmenistan</option>
  <option value="TV">Tuvalu</option>
  <option value="UG">Uganda</option>
  <option value="UA">Ukraine</option>
  <option value="AE">United Arab Emirates</option>
  <option value="GB">United Kingdom</option>
  <option value="UY">Uruguay</option>
  <option value="UZ">Uzbekistan</option>
  <option value="VU">Vanuatu</option>
  <option value="VE">Venezuela</option>
  <option value="VN">Vietnam</option>
  <option value="YE">Yemen</option>
  <option value="ZM">Zambia</option>
  <option value="ZW">Zimbabwe</option>
</select>

            <label class="error" for="country">Please choose a country</label>
          </div>
        </fieldset>
        <fieldset>
          <input class="notify" type="checkbox" id="chkSignupInventory53PA05" name="newsletter" checked="checked" /><label for="chkSignupInventory53PA05">Send me occasional emails about other FiftyThree products and promotions.</label>
        </fieldset>
      </div>
      <div class="dialog-content success">
        <p class="center"><span class="title">Thank you!</span>We'll be in touch.</p>
      </div>
      <div class="dialog-buttons">
        <a href="#" class="close half">Cancel</a>
        <a href="#" class="submit half">Notify me</a>
      </div>
      <div class="dialog-buttons success">
        <a href="#" class="close">Close</a>
      </div>
      <div class="dialog-loading">
        <span></span><img src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/loading-blk-lt-2x.png?11031268930801534669" width="52" height="52" alt="Loading" />
      </div>
    </form>
  </div>
</div>

  
    
    <div class="dialog-container" id="notify-inventory" data-sku="53PA02">
  <div class="dialog-row">
    <form>
      <div class="dialog-header"></div>
      <div class="dialog-content">
        <input type="hidden" name="sku" id="sku" value="53PA02" />
        <img class="product-img" src="//cdn.shopify.com/s/files/1/0245/8513/products/pencil-graphite-graylightest_compact.jpg?v=1422384829" alt="Pencil" width="160" />
        <p><span class="title">We can notify you when this is in stock.</span></p>
        <p class="product-name"><strong>Pencil</strong><br />Graphite</p>
        <fieldset>
          <div class="group">
            <input type="email" placeholder="Email address *" required="required" name="email"/>
            <label class="error" for="email">Please enter a valid email address</label>
          </div>
          <div class="group">
            
            <select name="country" class="placeholder">
  <option default="default" selected="selected" value="">Country *</option>

  <option value="US">United States</option>
  <option value="CA">Canada</option>
  <option value="" disabled="disabled">---------------</option>

  <option value="AF">Afghanistan</option>
  <option value="AL">Albania</option>
  <option value="DZ">Algeria</option>
  <option value="AD">Andorra</option>
  <option value="AO">Angola</option>
  <option value="AG">Antigua and Barbuda</option>
  <option value="AR">Argentina</option>
  <option value="AM">Armenia</option>
  <option value="AW">Aruba</option>
  <option value="AU">Australia</option>
  <option value="AT">Austria</option>
  <option value="AZ">Azerbaijan</option>
  <option value="BS">Bahamas</option>
  <option value="BH">Bahrain</option>
  <option value="BD">Bangladesh</option>
  <option value="BB">Barbados</option>
  <option value="BY">Belarus</option>
  <option value="BE">Belgium</option>
  <option value="BZ">Belize</option>
  <option value="BJ">Benin</option>
  <option value="BT">Bhutan</option>
  <option value="BO">Bolivia</option>
  <option value="BA">Bosnia and Herzegovina</option>
  <option value="BW">Botswana</option>
  <option value="BR">Brazil</option>
  <option value="BN">Brunei</option>
  <option value="BG">Bulgaria</option>
  <option value="BF">Burkina Faso</option>
  <option value="MM">Burma</option>
  <option value="BI">Burundi</option>
  <option value="KH">Cambodia</option>
  <option value="CM">Cameroon</option>
  <option value="CV">Cape Verde</option>
  <option value="CF">Central African Republic</option>
  <option value="TD">Chad</option>
  <option value="CL">Chile</option>
  <option value="CN">China</option>
  <option value="CO">Colombia</option>
  <option value="KM">Comoros</option>
  <option value="CG">Congo</option>
  <option value="CR">Costa Rica</option>
  <option value="CI">Cote d'Ivoire</option>
  <option value="HR">Croatia</option>
  <option value="CW">Curacao</option>
  <option value="CY">Cyprus</option>
  <option value="CZ">Czech Republic</option>
  <option value="DK">Denmark</option>
  <option value="DJ">Djibouti</option>
  <option value="DM">Dominica</option>
  <option value="DO">Dominican Republic</option>
  <option value="TL">East Timor</option>
  <option value="EC">Ecuador</option>
  <option value="EG">Egypt</option>
  <option value="SV">El Salvador</option>
  <option value="GQ">Equatorial Guinea</option>
  <option value="ER">Eritrea</option>
  <option value="EE">Estonia</option>
  <option value="ET">Ethiopia</option>
  <option value="FJ">Fiji</option>
  <option value="FI">Finland</option>
  <option value="FR">France</option>
  <option value="GA">Gabon</option>
  <option value="GM">Gambia</option>
  <option value="GE">Georgia</option>
  <option value="DE">Germany</option>
  <option value="GH">Ghana</option>
  <option value="GR">Greece</option>
  <option value="GD">Grenada</option>
  <option value="GT">Guatemala</option>
  <option value="GN">Guinea</option>
  <option value="GW">Guinea-Bissau</option>
  <option value="GY">Guyana</option>
  <option value="HT">Haiti</option>
  <option value="VA">Holy See</option>
  <option value="HN">Honduras</option>
  <option value="HK">Hong Kong</option>
  <option value="HU">Hungary</option>
  <option value="IS">Iceland</option>
  <option value="IN">India</option>
  <option value="ID">Indonesia</option>
  <option value="IQ">Iraq</option>
  <option value="IE">Ireland</option>
  <option value="IL">Israel</option>
  <option value="IT">Italy</option>
  <option value="JM">Jamaica</option>
  <option value="JP">Japan</option>
  <option value="JO">Jordan</option>
  <option value="KZ">Kazakhstan</option>
  <option value="KE">Kenya</option>
  <option value="KI">Kiribati</option>
  <option value="KW">Kuwait</option>
  <option value="KG">Kyrgyzstan</option>
  <option value="LA">Laos</option>
  <option value="LV">Latvia</option>
  <option value="LB">Lebanon</option>
  <option value="LS">Lesotho</option>
  <option value="LR">Liberia</option>
  <option value="LY">Libya</option>
  <option value="LI">Liechtenstein</option>
  <option value="LT">Lithuania</option>
  <option value="LU">Luxembourg</option>
  <option value="MO">Macau</option>
  <option value="MK">Macedonia</option>
  <option value="MG">Madagascar</option>
  <option value="MW">Malawi</option>
  <option value="MY">Malaysia</option>
  <option value="MV">Maldives</option>
  <option value="ML">Mali</option>
  <option value="MT">Malta</option>
  <option value="MH">Marshall Islands</option>
  <option value="MR">Mauritania</option>
  <option value="MU">Mauritius</option>
  <option value="MX">Mexico</option>
  <option value="FM">Micronesia</option>
  <option value="MD">Moldova</option>
  <option value="MC">Monaco</option>
  <option value="MN">Mongolia</option>
  <option value="ME">Montenegro</option>
  <option value="MA">Morocco</option>
  <option value="MZ">Mozambique</option>
  <option value="NA">Namibia</option>
  <option value="NR">Nauru</option>
  <option value="NP">Nepal</option>
  <option value="NL">Netherlands</option>
  <option value="NZ">New Zealand</option>
  <option value="NI">Nicaragua</option>
  <option value="NE">Niger</option>
  <option value="NG">Nigeria</option>
  <option value="NO">Norway</option>
  <option value="OM">Oman</option>
  <option value="PK">Pakistan</option>
  <option value="PW">Palau</option>
  <option value="PS">Palestinian Territories</option>
  <option value="PA">Panama</option>
  <option value="PG">Papua New Guinea</option>
  <option value="PY">Paraguay</option>
  <option value="PE">Peru</option>
  <option value="PH">Philippines</option>
  <option value="PL">Poland</option>
  <option value="PT">Portugal</option>
  <option value="QA">Qatar</option>
  <option value="RO">Romania</option>
  <option value="RU">Russia</option>
  <option value="RW">Rwanda</option>
  <option value="KN">Saint Kitts and Nevis</option>
  <option value="LC">Saint Lucia</option>
  <option value="VC">Saint Vincent and the Grenadines</option>
  <option value="WS">Samoa</option>
  <option value="SM">San Marino</option>
  <option value="ST">Sao Tome and Principe</option>
  <option value="SA">Saudi Arabia</option>
  <option value="SN">Senegal</option>
  <option value="RS">Serbia</option>
  <option value="SC">Seychelles</option>
  <option value="SL">Sierra Leone</option>
  <option value="SG">Singapore</option>
  <option value="SX">Sint Maarten</option>
  <option value="SK">Slovakia</option>
  <option value="SI">Slovenia</option>
  <option value="SB">Solomon Islands</option>
  <option value="SO">Somalia</option>
  <option value="ZA">South Africa</option>
  <option value="KR">South Korea</option>
  <option value="SS">South Sudan</option>
  <option value="ES">Spain</option>
  <option value="LK">Sri Lanka</option>
  <option value="SR">Suriname</option>
  <option value="SZ">Swaziland</option>
  <option value="SE">Sweden</option>
  <option value="CH">Switzerland</option>
  <option value="TW">Taiwan</option>
  <option value="TJ">Tajikistan</option>
  <option value="TZ">Tanzania</option>
  <option value="TH">Thailand</option>
  <option value="TL">Timor-Leste</option>
  <option value="TG">Togo</option>
  <option value="TO">Tonga</option>
  <option value="TT">Trinidad and Tobago</option>
  <option value="TN">Tunisia</option>
  <option value="TR">Turkey</option>
  <option value="TM">Turkmenistan</option>
  <option value="TV">Tuvalu</option>
  <option value="UG">Uganda</option>
  <option value="UA">Ukraine</option>
  <option value="AE">United Arab Emirates</option>
  <option value="GB">United Kingdom</option>
  <option value="UY">Uruguay</option>
  <option value="UZ">Uzbekistan</option>
  <option value="VU">Vanuatu</option>
  <option value="VE">Venezuela</option>
  <option value="VN">Vietnam</option>
  <option value="YE">Yemen</option>
  <option value="ZM">Zambia</option>
  <option value="ZW">Zimbabwe</option>
</select>

            <label class="error" for="country">Please choose a country</label>
          </div>
        </fieldset>
        <fieldset>
          <input class="notify" type="checkbox" id="chkSignupInventory53PA02" name="newsletter" checked="checked" /><label for="chkSignupInventory53PA02">Send me occasional emails about other FiftyThree products and promotions.</label>
        </fieldset>
      </div>
      <div class="dialog-content success">
        <p class="center"><span class="title">Thank you!</span>We'll be in touch.</p>
      </div>
      <div class="dialog-buttons">
        <a href="#" class="close half">Cancel</a>
        <a href="#" class="submit half">Notify me</a>
      </div>
      <div class="dialog-buttons success">
        <a href="#" class="close">Close</a>
      </div>
      <div class="dialog-loading">
        <span></span><img src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/loading-blk-lt-2x.png?11031268930801534669" width="52" height="52" alt="Loading" />
      </div>
    </form>
  </div>
</div>

  
  <div class="dialog-container" id="notify-extras">
  <div class="dialog-row">
    <form>
      <div class="dialog-header"></div>
      <div class="dialog-content">
        <input type="hidden" name="sku" id="sku" value="53T003" />
        <p><span class="title quoted">&ldquo;When will extra tips and erasers be available?&rdquo;</span>
        We’re working hard to make extra tips and erasers available for purchase. Sign up below and you’ll be one of the first to know.</p>
        <fieldset>
          <div class="group">
            <input type="email" placeholder="Email address *" name="email"/>
            <label class="error" for="email">Please enter a valid email address</label>
          </div>
          <div class="group">
            
            <select name="country" class="placeholder">
  <option default="default" selected="selected" value="">Country *</option>

  <option value="US">United States</option>
  <option value="CA">Canada</option>
  <option value="" disabled="disabled">---------------</option>

  <option value="AF">Afghanistan</option>
  <option value="AL">Albania</option>
  <option value="DZ">Algeria</option>
  <option value="AD">Andorra</option>
  <option value="AO">Angola</option>
  <option value="AG">Antigua and Barbuda</option>
  <option value="AR">Argentina</option>
  <option value="AM">Armenia</option>
  <option value="AW">Aruba</option>
  <option value="AU">Australia</option>
  <option value="AT">Austria</option>
  <option value="AZ">Azerbaijan</option>
  <option value="BS">Bahamas</option>
  <option value="BH">Bahrain</option>
  <option value="BD">Bangladesh</option>
  <option value="BB">Barbados</option>
  <option value="BY">Belarus</option>
  <option value="BE">Belgium</option>
  <option value="BZ">Belize</option>
  <option value="BJ">Benin</option>
  <option value="BT">Bhutan</option>
  <option value="BO">Bolivia</option>
  <option value="BA">Bosnia and Herzegovina</option>
  <option value="BW">Botswana</option>
  <option value="BR">Brazil</option>
  <option value="BN">Brunei</option>
  <option value="BG">Bulgaria</option>
  <option value="BF">Burkina Faso</option>
  <option value="MM">Burma</option>
  <option value="BI">Burundi</option>
  <option value="KH">Cambodia</option>
  <option value="CM">Cameroon</option>
  <option value="CV">Cape Verde</option>
  <option value="CF">Central African Republic</option>
  <option value="TD">Chad</option>
  <option value="CL">Chile</option>
  <option value="CN">China</option>
  <option value="CO">Colombia</option>
  <option value="KM">Comoros</option>
  <option value="CG">Congo</option>
  <option value="CR">Costa Rica</option>
  <option value="CI">Cote d'Ivoire</option>
  <option value="HR">Croatia</option>
  <option value="CW">Curacao</option>
  <option value="CY">Cyprus</option>
  <option value="CZ">Czech Republic</option>
  <option value="DK">Denmark</option>
  <option value="DJ">Djibouti</option>
  <option value="DM">Dominica</option>
  <option value="DO">Dominican Republic</option>
  <option value="TL">East Timor</option>
  <option value="EC">Ecuador</option>
  <option value="EG">Egypt</option>
  <option value="SV">El Salvador</option>
  <option value="GQ">Equatorial Guinea</option>
  <option value="ER">Eritrea</option>
  <option value="EE">Estonia</option>
  <option value="ET">Ethiopia</option>
  <option value="FJ">Fiji</option>
  <option value="FI">Finland</option>
  <option value="FR">France</option>
  <option value="GA">Gabon</option>
  <option value="GM">Gambia</option>
  <option value="GE">Georgia</option>
  <option value="DE">Germany</option>
  <option value="GH">Ghana</option>
  <option value="GR">Greece</option>
  <option value="GD">Grenada</option>
  <option value="GT">Guatemala</option>
  <option value="GN">Guinea</option>
  <option value="GW">Guinea-Bissau</option>
  <option value="GY">Guyana</option>
  <option value="HT">Haiti</option>
  <option value="VA">Holy See</option>
  <option value="HN">Honduras</option>
  <option value="HK">Hong Kong</option>
  <option value="HU">Hungary</option>
  <option value="IS">Iceland</option>
  <option value="IN">India</option>
  <option value="ID">Indonesia</option>
  <option value="IQ">Iraq</option>
  <option value="IE">Ireland</option>
  <option value="IL">Israel</option>
  <option value="IT">Italy</option>
  <option value="JM">Jamaica</option>
  <option value="JP">Japan</option>
  <option value="JO">Jordan</option>
  <option value="KZ">Kazakhstan</option>
  <option value="KE">Kenya</option>
  <option value="KI">Kiribati</option>
  <option value="KW">Kuwait</option>
  <option value="KG">Kyrgyzstan</option>
  <option value="LA">Laos</option>
  <option value="LV">Latvia</option>
  <option value="LB">Lebanon</option>
  <option value="LS">Lesotho</option>
  <option value="LR">Liberia</option>
  <option value="LY">Libya</option>
  <option value="LI">Liechtenstein</option>
  <option value="LT">Lithuania</option>
  <option value="LU">Luxembourg</option>
  <option value="MO">Macau</option>
  <option value="MK">Macedonia</option>
  <option value="MG">Madagascar</option>
  <option value="MW">Malawi</option>
  <option value="MY">Malaysia</option>
  <option value="MV">Maldives</option>
  <option value="ML">Mali</option>
  <option value="MT">Malta</option>
  <option value="MH">Marshall Islands</option>
  <option value="MR">Mauritania</option>
  <option value="MU">Mauritius</option>
  <option value="MX">Mexico</option>
  <option value="FM">Micronesia</option>
  <option value="MD">Moldova</option>
  <option value="MC">Monaco</option>
  <option value="MN">Mongolia</option>
  <option value="ME">Montenegro</option>
  <option value="MA">Morocco</option>
  <option value="MZ">Mozambique</option>
  <option value="NA">Namibia</option>
  <option value="NR">Nauru</option>
  <option value="NP">Nepal</option>
  <option value="NL">Netherlands</option>
  <option value="NZ">New Zealand</option>
  <option value="NI">Nicaragua</option>
  <option value="NE">Niger</option>
  <option value="NG">Nigeria</option>
  <option value="NO">Norway</option>
  <option value="OM">Oman</option>
  <option value="PK">Pakistan</option>
  <option value="PW">Palau</option>
  <option value="PS">Palestinian Territories</option>
  <option value="PA">Panama</option>
  <option value="PG">Papua New Guinea</option>
  <option value="PY">Paraguay</option>
  <option value="PE">Peru</option>
  <option value="PH">Philippines</option>
  <option value="PL">Poland</option>
  <option value="PT">Portugal</option>
  <option value="QA">Qatar</option>
  <option value="RO">Romania</option>
  <option value="RU">Russia</option>
  <option value="RW">Rwanda</option>
  <option value="KN">Saint Kitts and Nevis</option>
  <option value="LC">Saint Lucia</option>
  <option value="VC">Saint Vincent and the Grenadines</option>
  <option value="WS">Samoa</option>
  <option value="SM">San Marino</option>
  <option value="ST">Sao Tome and Principe</option>
  <option value="SA">Saudi Arabia</option>
  <option value="SN">Senegal</option>
  <option value="RS">Serbia</option>
  <option value="SC">Seychelles</option>
  <option value="SL">Sierra Leone</option>
  <option value="SG">Singapore</option>
  <option value="SX">Sint Maarten</option>
  <option value="SK">Slovakia</option>
  <option value="SI">Slovenia</option>
  <option value="SB">Solomon Islands</option>
  <option value="SO">Somalia</option>
  <option value="ZA">South Africa</option>
  <option value="KR">South Korea</option>
  <option value="SS">South Sudan</option>
  <option value="ES">Spain</option>
  <option value="LK">Sri Lanka</option>
  <option value="SR">Suriname</option>
  <option value="SZ">Swaziland</option>
  <option value="SE">Sweden</option>
  <option value="CH">Switzerland</option>
  <option value="TW">Taiwan</option>
  <option value="TJ">Tajikistan</option>
  <option value="TZ">Tanzania</option>
  <option value="TH">Thailand</option>
  <option value="TL">Timor-Leste</option>
  <option value="TG">Togo</option>
  <option value="TO">Tonga</option>
  <option value="TT">Trinidad and Tobago</option>
  <option value="TN">Tunisia</option>
  <option value="TR">Turkey</option>
  <option value="TM">Turkmenistan</option>
  <option value="TV">Tuvalu</option>
  <option value="UG">Uganda</option>
  <option value="UA">Ukraine</option>
  <option value="AE">United Arab Emirates</option>
  <option value="GB">United Kingdom</option>
  <option value="UY">Uruguay</option>
  <option value="UZ">Uzbekistan</option>
  <option value="VU">Vanuatu</option>
  <option value="VE">Venezuela</option>
  <option value="VN">Vietnam</option>
  <option value="YE">Yemen</option>
  <option value="ZM">Zambia</option>
  <option value="ZW">Zimbabwe</option>
</select>

            <label class="error" for="country">Please choose a country</label>
          </div>
        </fieldset>
        <fieldset>
          <input class="notify" type="checkbox" id="chkSignupExtras" name="newsletter" checked="checked" /><label for="chkSignupExtras">Send me occasional emails about other FiftyThree products and promotions.</label>
        </fieldset>
      </div>
      <div class="dialog-content success">
        <p class="center"><span class="title">Thank you!</span>We'll be in touch.</p>
      </div>
      <div class="dialog-buttons">
        <a href="#" class="close half">Cancel</a>
        <a href="#" class="submit half">Notify me</a>
      </div>
      <div class="dialog-buttons success">
        <a href="#" class="close">Close</a>
      </div>
      <div class="dialog-loading">
        <span></span><img src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/loading-blk-lt-2x.png?11031268930801534669" width="52" height="52" alt="Loading" />
      </div>
    </form>
  </div>
</div>
</div>

<script src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/cookies.min.js?11031268930801534669" type="text/javascript"></script>
<script src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/product.min.js?11031268930801534669" type="text/javascript"></script>






<section class="extras">
  <div class="inner-section">
    <div class="row">
      <a name="addextras"></a>
      <h2>Add Extras</h4>

    
      
      <div class="product-wrapper">
        <div class="product-photo">
          <img class="product-photo" src="//cdn.shopify.com/s/files/1/0245/8513/products/tips-eraser_grande.png?v=1395236493" alt="Replacement Tips and Eraser" width="100%" />
        </div>
        <div class="product-desc">
          <h3>Replacement Tips and Eraser</h3>
          
            <p>Includes two tips and one eraser for Pencil.</p>
            <p class="price"><span class="curr_symbol">$</span>7.95<span class="curr_abbrev">USD</span></p>
            <form id="extrasForm" data-sku="53T003">
              <input type="hidden" id="variant_selected" name="id" value="371244021" />
              <input type="hidden" id="quantity_selected" name="quantity" value="1" />
              
              
              <button class="btn primary small add" type="submit" name="add" data-id="371244021">Add</button>
              <button class="btn small spacer" disabled="disabled">Added</button>
            </form>
          
        </div>
      </div>
    
    </div>
  </div>
</section>


<img src="http://s.amazon-adsystem.com/iui3?d=3p-hbg&ex-src=fiftythree.com&ex-hargs=v%3D1.0%3Bc%3D4378178085761%3Bp%3DSHOP" width="1" height="1" border="0">

  <footer class="page-footer">
    <div class="footer-container">
      <div class="footer-inner">
        <div class="logo-wrapper">
          <a href="http://www.fiftythree.com">
            <img class="logo" src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/53-light.svg?11031268930801534669" onerror="this.onerror=null; this.src='//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/53-82x82-light.png?11031268930801534669'" />
          </a>
        </div>
        <nav>
          <div class="links-wrapper">
            <ul class="links products">
              <li><a href="http://www.fiftythree.com/paper">Paper</a></li>
              <li><a href="http://www.fiftythree.com/pencil">Pencil</a></li>
              <li><a href="http://mix.fiftythree.com">Mix</a></li>
              <li><a href="http://www.fiftythree.com/book">Book</a></li>
            </ul>
            <ul class="links blogs">
              <li><a href="http://news.fiftythree.com">News</a></li>
              <li><a href="http://making.fiftythree.com">Making</a></li>
              <li><a href="http://madewithpaper.fiftythree.com">Made&thinsp;With&thinsp;Paper</a></li>
            </ul>
            <ul class="links contact">
              <li><a href="http://shop.fiftythree.com">Shop</a></li>
              <li><a href="http://support.fiftythree.com">Support</a></li>
              <li><a href="http://www.fiftythree.com/contact">Contact</a></li>
            </ul>
            <ul class="links about-us">
              <li><a href="http://www.fiftythree.com/about">About</a></li>
              <li><a href="http://www.fiftythree.com/jobs">Jobs</a></li>
            </ul>
          </div>
        </nav>
        <div class="copyright-info">
          <span class="made-in">Made in New York City and Seattle.</span>
          <span class="copyright">© 2012–2015 FiftyThree, Inc.</span>
          <ul class="copyright-links">
            <li class="terms"><a href="http://www.fiftythree.com/terms">Terms of Service</a></li>
            <li class="privacy"><a href="http://www.fiftythree.com/privacy">Privacy Policy</a></li>
            <li class="legal"><a href="http://www.fiftythree.com/legal">Legal</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>