<body>
  <header class="page-header">
    <div class="header-grid-outer">
      <div class="header-grid-inner">
        <a class="logo-wrapper" href="/"><img class="logo" src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/53-dark.svg?11031268930801534669" onerror="this.onerror=null; this.src='/" /></a>

        <button id="nav-toggle-button" class="navigation-list-toggle-button"></button>
          <nav id="nav-toggle-menu" class="navigation-list">
            <ul class="nav-list">
              <li><a href="/about">About</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/shop">Shop</a></li>
              <li class="social fb"><a href="https://www.facebook.com/trailworthy" target="_blank" class="icon-social icon-facebook-dark">Facebook</a></li>
              <li class="social tw"><a href="http://www.twitter.com/WorthyJerky" target="_blank" class="icon-social icon-twitter-dark">Twitter</a></li>
            </ul>
          </nav>
      </div>
    </div>
  </header>
  <section class="shop-nav">
    <div class="inner-section">
      <div class="shop-nav-wrap">
        <nav class="bread">
          <ul>
            <li><a href="/shop">Catalog</a></li>
            <li></li>
          </ul>
        </nav>
        <nav class="alt">
          <ul>
            <li class="status"><a href="/pages/order-status/">Order Status</a></li>
            <li class="cart"><a href="/cart/"><span class="cart_count">1</span>Item</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>

  <article class="product">
    <div class="article-inner">
      <div class="row">
        <div class="carousel-gestures">
            <img style="width:100%; height:100%;" src="http://cdn.shopify.com/s/files/1/0369/2125/products/DSC_0856_1024x1024.jpeg?v=1424288201">
        </div>
        <aside>
          <h1>Citrus BBQ steak</h1>
          <p>1.6oz</p>
          <hr />
          <div class="price-wrapper">
              <p class="price active" data-value="walnut">
                <span class="title"><strong>American classic with a tangy twist</strong></span>
                <span class="curr_symbol">$</span><span class="curr_amt">5.00</a><span class="curr_abbrev">USD</span>
              </p>
              <p class="price" data-value="gold">
                <span class="title"><strong>Gold</strong></span>
                <span class="curr_symbol">$</span><span class="curr_amt">59.95</a><span class="curr_abbrev">USD</span>
              </p>
              <p class="price" data-value="graphite">
                <span class="title"><strong>Graphite</strong></span>
                <span class="curr_symbol">$</span><span class="curr_amt">49.95</a><span class="curr_abbrev">USD</span>
              </p>
          </div>
          <div class="price-banner"><span>Free Shipping with 6 orders</span></div>
              <a href="#" class="swatch" data-id="380938388" data-value="walnut"><img src="http://cdn.shopify.com/s/files/1/0369/2125/products/1_1024x1024.jpeg?v=1424288201" style="border-radius:50%;"width="50" height="50" alt="Walnut + Magnetic Snap" /></a>
              <a href="#" class="swatch preselect" data-id="1126684432" data-value="gold"><img src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/swatch_gold.png?11031268930801534669" width="50" height="50" alt="Gold" /></a>
              <a href="#" class="swatch" data-id="371241449" data-value="graphite"><img src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/swatch_graphite.png?11031268930801534669" width="50" height="50" alt="Graphite" /></a>
          <hr />
          <div class="form-wrapper">
            <form action="/cart/add" method="post" class="active"data-id="380938388" data-value="walnut" data-sku="53PW01">
              <input type="hidden" id="variant_selected" name="id" value="380938388" />
              <input type="hidden" id="quantity_selected" name="quantity" value="1" />
                <button class="btn primary" type="submit" name="add" id="btnAddCart">Add to cart<i class="chevron chevron-button"></i></button>
            </form>
            <form action="/cart/add" method="post"data-id="1126684432" data-value="gold" data-sku="53PA05">
              <input type="hidden" id="variant_selected" name="id" value="1126684432" />
              <input type="hidden" id="quantity_selected" name="quantity" value="1" />
                <button class="btn primary" type="submit" name="add" id="btnAddCart">Add to cart<i class="chevron chevron-button"></i></button>
            </form>
            <form action="/cart/add" method="post"data-id="371241449" data-value="graphite" data-sku="53PA02">
              <input type="hidden" id="variant_selected" name="id" value="371241449" />
              <input type="hidden" id="quantity_selected" name="quantity" value="1" />
                <button class="btn primary" type="submit" name="add" id="btnAddCart">Add to cart<i class="chevron chevron-button"></i></button> 
            </form>
          </div>
        </aside>
      </div>
    </div>
    <div class="article-outer">
      <p>hi</p>
    </div>
  </article>

  <section class="details">
      <div class="row satisfaction">
        <div class="satisfaction-txt">
          <h2 class="light">Simple Satisfaction</h2>
          <p>Pencil is made to make you happy, and we back that up with our return policies. If you're not pleased with your purchase from FiftyThree.com, just contact us within 30&nbsp;days and we will give you a refund or replacement. While we hope it doesn't come to that, we'll make it as painless as possible with free return shipping. In addition to the <a href="http://www.fiftythree.com/legal/pencil/guarantee">"30-day Satisfaction Guarantee,"</a> Pencil is covered by a <a href="http://www.fiftythree.com/legal/pencil/warranty">Limited Warranty</a>.</p>
          <p>*Only purchases made directly from shop.fiftythree.com qualify for the 30-Day Satisfaction Guarantee. For all other Pencils, please contact your authorized reseller for merchant guarantees.</p>
        </div>
        <div class="satisfaction-img">
          <a href="http://www.fiftythree.com/legal/pencil/guarantee"><img src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/satisfaction_seal.svg?11031268930801534669" alt="30-day Satisfaction Guarantee" onerror="this.onerror=null; this.src='//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/satisfaction_seal.png?11031268930801534669'" /></a>
        </div>
      </div>
      <div class="row specs header">
        <div>
          <h2 class="light">Technical Specifications</h2>
        </div>
      </div>
      <div class="row specs data">
        <div class="spec-row">
          <div class="spec nb"></div>
          <div class="val-1 nb"><img style="border-radius: 50%;" src="http://cdn.shopify.com/s/files/1/0369/2125/products/1.jpeg?v=1424288201" width="100" height="100" alt="Walnut" /><h3>Citrus BBQ</h3></div>
          <div class="val-1 nb"><img src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/swatch_gold.png?11031268930801534669" width="100" height="100" alt="Gold" /><h3>Other Flavor</h3></div>
          <div class="val-1 nb"><img src="//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/swatch_graphite.png?11031268930801534669" width="100" height="100" alt="Graphite" /><h3>Other Companies</h3></div>
        </div>
        <div class="spec-row">
          <div class="spec body">Description</div>
          <div class="val-1 nb body-walnut"><p>Anodized, brushed aluminum.<p></div>
          <div class="val-1 nb body-gold"><p>Anodized, brushed aluminum.</p></div>
          <div class="val-1 nb body-graphite"><p>Anodized, brushed aluminum.</p></div>
        </div>
        <div class="spec-row">
          <div class="spec">Price</div>
          <div class="val-1"><p><strong>$5.00</strong> USD</p></div>
          <div class="val-1"><p><strong>$5.00</strong> USD</p></div>
          <div class="val-1"><p><strong>$6.95</strong> USD</p></div>
        </div>
        <div class="spec-row">
          <div class="spec">Ingredients</div>
          <div class="val-1"><p>Yummy stuff<p></div>
          <div class="val-1"><p>Other yummy stuff</p></div>
          <div class="val-1"><p>Eww other beef jerkys</p></div>
        </div>
        <div class="spec-row">
          <div class="spec">Weight</div>
          <div class="val-1"><p>1.6oz</p></div>
          <div class="val-1"><p>1.6oz</p></div>
          <div class="val-1"><p>1.6oz</p></div>
        </div>
      </div>
    </div>
  </section>
  </div>
  <footer class="page-footer">
    <div class="footer-container">
      <div class="footer-inner">
        <div class="logo-wrapper"><a href="/"><img src="https://cornell.app.box.com/representation/file_version_13904801901/image_2048_jpg/1.jpg" class="logo"></a></div>
        <nav>
          <div class="links-wrapper">
            <ul class="links products">
              <li><a href="/shop">Shop</a></li>
            </ul>
            <ul class="links blogs">
              <li><a href="http://news.fiftythree.com">Blogs</a></li>
            </ul>
            <ul class="links contact">
              <li><a href="http://shop.fiftythree.com">Contact</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
            <ul class="links about-us">
              <li><a href="/about">About</a></li>
              <li><a href="http://press.fiftythree.com">Press</a></li>
            </ul>
          </div>
        </nav>
        <div class="copyright-info"><span class="made-in">Made in Ithaca</span><span class="copyright">© 2015 WorthyJerky, Inc.</span>
        </div>
      </div>
    </div>
  </footer>
</body>