<body>
  <header class="page-header">
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <div class="header-grid-outer">
      <div class="header-grid-inner">
        <a class="logo-wrapper" href="/"><img class="logo" src="http://i.imgur.com/6ITazzi.png?1" onerror="this.onerror=null; this.src='/" /></a>

        <button id="nav-toggle-button" class="navigation-list-toggle-button"></button>
          <nav id="nav-toggle-menu" class="navigation-list">
            <ul class="nav-list">
<!--               <li><a href="/about">About</a></li>
              <li><a href="/blog">Blog</a></li> -->
              <li><a href="/">Home</a></li>
              <li><a href="/shop">Shop</a></li>
              <li class="social fb"><a href="https://www.facebook.com/trailworthy" target="_blank" class="icon-social icon-facebook-dark">Facebook</a></li>
              <li class="social tw"><a href="http://www.twitter.com/WorthyJerky" target="_blank" class="icon-social icon-twitter-dark">Twitter</a></li>
            </ul>
          </nav>
      </div>
    </div>
  </header>
<!--   <section class="shop-nav">
    <div class="inner-section">
      <div class="shop-nav-wrap">
        <nav class="bread">
          <ul>
            <li><a href="/shop">Catalog</a></li>
            <li></li>
          </ul>
        </nav>
        <nav class="alt">
          <ul>
            <li class="status"><a href="/pages/order-status/">Order Status</a></li>
            <li class="cart"><a href="/cart/"><span class="cart_count">6</span>Item</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section> -->

  <div id="react"></div>
<!--   <div class="modal fade" id="checkout" tabindex="-1" role="dialog" aria-labelledby="ticketmodal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Sign Up Page</h4>
        </div>
        <div class="modal-body">
          <div class="sign-up-container">
            <div class="form-container active info row">
                <form action="">
                  <div class="card-related">
                    <div class="paymentinfo pull-right">
                      <div class="form-group">
                        <input class="form-control" placeholder="Card number" type="text" name="number">
                      </div>
                      <div class="form-group">
                        <input class="form-control" placeholder="Full name" type="text" name="name">
                      </div>
                      <div class="form-group">
                        <input class="form-control" placeholder="MM/YY" type="text" name="expiry">
                      </div>
                      <div class="form-group">
                        <input class="form-control" placeholder="CVC" type="text" name="cvc">
                      </div>
                    </div>
                    <div class="card-container">
                      <div class="card">
                        <div class="card-wrapper"></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input class="MerchantID form-control"placeholder="Merchant ID" type="text" name="merchantId">
                  </div>
                  <div class="form-group">
                    <input class="form-control" placeholder="Transaction ID (Optional)" type="text" name="transactionID">
                  </div>
                  <div class="form-group">
                    <input class="ReferralID form-control" placeholder="Referrel ID (Optional)" type="text" name="referrelID">
                  </div>
                </form>
            </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <a type="button" class="btn btn-primary" href="dashboard.html">Sign Up</a>
        </div>
      </div>
    </div>
  </div> -->
  <section class="details">
      <div class="row satisfaction">
        <div class="satisfaction-txt">
          <h2>Formulation</h2>
          <p>When I received a scholarship to finish my high school education in Switzerland, I asked my mother for her delicious home-made beef jerky because my friends and I needed a portable, nutritious yet tasty snack for the ski slopes. With every bite, my friends became obsessed, and word of mouth began to spread. And thus, Worthy Jerky was born.</p>
          <p>What began as a mother’s recipe has become a way of life for those who recognize that nature provides the best ingredients. We have reinvented jerky from the ground up using only the best steaks, fruits, vegetables and spices nature has to offer. Nothing more, nothing less. The result? The most wholesome, delicious snack Worthy of both your taste buds and your body.</p>
          <p class="italic">-Alex Krakoski, Founder and CEO of Worthy Jerky</p>
        </div>
        <div class="satisfaction-img">
          <img src="http://i.imgur.com/PNGSVAK.jpg?1" />
        </div>
      </div>
      <div class="row specs header">
        <div>
          <h2>Technical Specifications</h2>
        </div>
      </div>
      <div class="row specs data">
        <div class="spec-row">
          <div class="spec nb"></div>
          <div class="val-1 nb"><img src="http://i.imgur.com/BUEmydM.png?1" width="100" height="100" alt="Walnut" /><h3>Citrus BBQ</h3></div>
          <div class="val-1 nb"><img src="http://i.imgur.com/vIGwEdH.png?1" width="100" height="100" alt="Gold" /><h3>Spicy BBQ</h3></div>
          <div class="val-1 nb"><img src="http://ashevillemunchies.com/wp-content/uploads/2014/01/jacklinksbagoriginal1.jpg" width="100" height="100" alt="Graphite" /><h3>Competitors</h3></div>
        </div>
        <div class="spec-row">
          <div class="spec body">Description</div>
          <div class="val-1 nb body-walnut"><p>Classic with a tangy twist<p></div>
          <div class="val-1 nb body-gold"><p>Classic infused with a spice</p></div>
          <div class="val-1 nb body-graphite"><p>Original flavor</p></div>
        </div>
        <div class="spec-row">
          <div class="spec">Price/bag</div>
          <div class="val-1"><p><strong>$4.75</strong> USD</p></div>
          <div class="val-1"><p><strong>$4.75</strong> USD</p></div>
          <div class="val-1"><p><strong>$4.99</strong> USD</p></div>
        </div>
        <div class="spec-row">
          <div class="spec">Ingredients</div>
          <div class="val-1"><p>Steak, Tomatoes, Oranges, Onion, Spices, Garlic<p></div>
          <div class="val-1"><p>Steak, Tomatoes, Oranges, Onion, Spices, Garlic, Chilli</p></div>
          <div class="val-1"><p>Beef, Water, Sugar, Corn Syrup Solids, Dried Soy Sauce</p></div>
        </div>
        <div class="spec-row">
          <div class="spec">Weight</div>
          <div class="val-1"><p>1.6 oz</p></div>
          <div class="val-1"><p>1.6 oz</p></div>
          <div class="val-1"><p>2.0 oz</p></div>
        </div>
      </div>
    </div>
  </section>
  </div>
    <footer class="page-footer">
      <div class="footer-container">
        <div class="footer-inner">
          <div class="logo-wrapper"><a href="/"><img src="http://i.imgur.com/t5OYkdb.png?1" class="logo"></a></div>
          <nav>
            <div class="links-wrapper">
              <ul class="links products">
                <li><a href="/">Home</a></li>
              </ul>
              <ul class="links blogs">
                <li><a href="/shop">Shop</a></li>
              </ul>
<!--               <ul class="links contact">
                <li><a href="/">Contact</a></li>
              </ul>
              <ul class="links about-us">
                <li><a href="/">About</a></li>
              </ul> -->
            </div>
          </nav>
          <div class="copyright-info"><span class="made-in">Made in Ithaca</span><span class="copyright">© 2015 WorthyJerky, Inc.</span>
          </div>
        </div>
      </div>
    </footer>
</body>