<!DOCTYPE html>
<html>
<head>
  <title>Worthy Jerky</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" type="image/x-icon" href="//cdn.shopify.com/s/files/1/0369/2125/t/8/assets/favicon.png?17686321335939298527">
</head>
<body>

<script src="http://fb.me/react-0.11.2.js"></script>
<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
